
<!DOCTYPE html>
<!--<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="shortcut icon" href="images/logo/logo_epardesh_favicon.png" type="image/png">
    <title>ePardesh</title>-->

<!--    <link href='https://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

-->    <link href="app/content/css/demo.css" rel="stylesheet">
    <link href="app/content/css/header.css" rel="stylesheet">
	  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
 
	<style>		
		.navbar-brand
		{
			margin: 0;
			padding: 0;
                }

		.navbar-brand img
		{
			max-height: 100%;
		}
		
		.dropdown-menu {
			min-width: 200px;
		}
		.dropdown-menu.columns-2 {
			min-width: 400px;
		}
		.dropdown-menu.columns-3 {
			min-width: 600px;
		}
		.dropdown-menu li a {
			padding: 5px 15px;
			font-weight: 300;
		}
		.multi-column-dropdown {
			list-style: none;
		}
		.multi-column-dropdown li a {
			display: block;
			clear: both;
			line-height: 1.428571429;
			color: #333;
			white-space: normal;
		}
		.multi-column-dropdown li a:hover {
			text-decoration: none;
			color: #262626;
			background-color: #f5f5f5;
		}
		
		@media (max-width: 767px) {
			.dropdown-menu.multi-column {
				min-width: 240px !important;
				overflow-x: hidden;
			}
		}
		
		@media (max-width: 480px) {
			.content {
				width: 90%;
				margin: 50px auto;
				padding: 10px;
			}
		}
		
		.sign_up, .interact, .connect {
			background: url(app/content/images/home-icon-sprite.png) no-repeat left 1px;
			height: 148px;
			width: 133px;
			margin: 0 auto;
			display: block;
			position: relative;
			background-size: 100%;
		}
	</style>
	
<!--</head>-->
<body>
<nav class="navbar navbar-default navbar-static-top" style="background-color: #ffffff;" role="navigation"> 
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
				<img style="max-width:140px;" src="app/content/images/logo/logo_epardesh.png">
			</a>
		</div>
		<nav class="collapse navbar-collapse" id=bs-navbar> 
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#"><i class="fa fa-home"></i>&nbsp;Home</a></li> 
					<!--<li><a href="#"><i class="fa fa-search"></i>&nbsp;Classifieds</a></li> 
					<li><a href="#"><i class="fa fa-heart"></i>&nbsp;Matrimony</a></li> -->
					<li><button type="button" class="btn btn-warning navbar-btn">Classifieds</button></li>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;</li> 
					<li><button type="button" class="btn btn-success navbar-btn">Matrimony</button></li>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;</li> 
					<li><button type="button" class="btn btn-info navbar-btn">Events</button></li>
					<li>&nbsp;&nbsp;&nbsp;&nbsp;</li> 
					<li><button type="button" class="btn btn-primary navbar-btn">IT Training</button></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"><i class="fa fa-info-circle"></i>&nbsp;About US</a></li>
					<li><a href="#"><i class="fa fa-envelope"></i>&nbsp;Contact US</a></li> 					
				</ul> 
			</div>
			<!--/.navbar-collapse-->
			</nav> 
		</div> 
	</nav>
		
	
<div
        class="parallax-image-wrapper"
        data-anchor-target="#page-intro"
        data-bottom-top="transform:translateY(200%)"
        data-top-bottom="transform:translateY(0)">

    <div
            class="parallax-image"
            style="background-image:url(app/content/images/matrimony_login_bg.jpg)"
            data-anchor-target="#page-intro"
            data-bottom-top="transform: translateY(-80%);"
            data-top-bottom="transform: translateY(80%);"
            >

    </div>
</div>
<div
        class="parallax-image-wrapper"
        data-anchor-target=".body-text + .gap"
        data-bottom-top="transform:translateY(200%)"
        data-top-bottom="transform:translateY(0)">

    <div
            class="parallax-image"
            style="background-image:url(app/content/images/main_page_image_2.jpg)"
            data-anchor-target=".body-text + .gap"
            data-bottom-top="transform: translateY(-80%);"
            data-top-bottom="transform: translateY(80%);"
            >

    </div>
</div>
<div
        class="parallax-image-wrapper"
        data-anchor-target=".features-list + .gap"
        data-bottom-top="transform:translateY(200%)"
        data-top-bottom="transform:translateY(0)">

    <div
            class="parallax-image"
            style="background-image:url(app/content/images/main_page_image_8.jpg)"
            data-anchor-target=".features-list + .gap"
            data-bottom-top="transform: translateY(-80%);"
            data-top-bottom="transform: translateY(80%);"
            >

    </div>
</div>
<div
        class="parallax-image-wrapper"
        data-anchor-target=".about-us + .gap"
        data-bottom-top="transform:translateY(200%)"
        data-top-bottom="transform:translateY(0)">

    <div
            class="parallax-image"
            style="background-image:url(app/content/images/main_page_image_10.jpg)"
            data-anchor-target=".about-us + .gap"
            data-bottom-top="transform: translateY(-80%);"
            data-top-bottom="transform: translateY(80%);"
            >

    </div>
</div>

<div id="skrollr-body">

    <div id="page-intro" class="gap" style="background-image:url(app/content/images/matrimony_login_bg.jpg); ">
        <h1>ePardesh - Find someone special</h1>
        <a href="http://www.epardesh.com/matrimony" class="btn">Matrimony</a>
    </div>

    <div class="body-text content">
        <h2>3 Easy Steps...</h2>
        <p data-300-center-top="transform: scale(0.8); opacity: 0" data-300-center-center="transform: scale(1); opacity: 1">
            <a href="http://www.epardesh.com/msign"><img src="app/content/images/sign_up_button.jpg" style="height: 248px; width: 233px;background-size: 100%;"/></a>
        </p>

        <p data-200-center-top="transform: scale(0.8); opacity: 0" data-200-center-center="transform: scale(1); opacity: 1">
            <a href="http://www.epardesh.com/mlogin"><img src="app/content/images/connect_button.jpg" style="height: 248px; width: 233px;background-size: 100%;"/></a>
        </p>

        <p data-100-center-top="transform: scale(0.8); opacity: 0" data-100-center-center="transform: scale(1); opacity: 1">
            <a href="http://www.epardesh.com/mlogin"><img src="app/content/images/interact_button.jpg" style="height: 248px; width: 233px;background-size: 100%;"/></a>
        </p>

    </div>

    <div class="gap" style="background-image:url(app/content/images/main_page_image_2.jpg); "></div>

    <div class="features-list">

        <h2>Classifieds</h2>

        <div data-100-bottom-top="transform: translateX(-200px); opacity: 0" data-center-top="transform: translateX(0px); opacity: 1">
            <i class="material-icons">chrome_reader_mode</i>
            <h4>Unlimited free <b>Ads</b></h4>
        </div>

        <div data-100-bottom-top="transform: translateY(200px); opacity: 0" data-center-top="transform: translateY(0px); opacity: 1">
            <i class="material-icons">perm_camera_mic</i>
            <h4>Find all <b>local Events</b></h4>
        </div>

        <div data-100-bottom-top="transform: translateX(200px); opacity: 0" data-center-top="transform: translateX(0px); opacity: 1">
            <i class="material-icons">receipt</i>
            <h4><b>IT Training</b> Needs</h4>
        </div>

    </div>

    <div class="gap" style="background-image:url(app/content/images/main_page_image_8.jpg); ">
	</div>

    <div class="about-us">

        <h2>About us</h2>

        <div data-150-bottom-center="transform: rotate(-90deg); opacity: 0" data-150-center-center="transform: rotate(0); opacity: 1">
            <img src="app/content/images/avatars/1.jpg" alt="avatar">
        </div>

        <div data-100-bottom-center="transform: rotate(-90deg); opacity: 0" data-100-center-center="transform: rotate(0); opacity: 1">
            <img src="app/content/images/avatars/2.jpg" alt="avatar">
        </div>

        <div data-50-bottom-center="transform: rotate(-90deg); opacity: 0" data-50-center-center="transform: rotate(0); opacity: 1">
            <img src="app/content/images/avatars/3.jpg" alt="avatar">
        </div>

        <div data-150-bottom-center="transform: rotateY(-90deg); opacity: 0" data-150-center-center="transform: rotate(0); opacity: 1">
            <img src="app/content/images/avatars/4.jpg" alt="avatar">
        </div>

        <div data-100-bottom-center="transform: rotateY(-90deg); opacity: 0" data-100-center-center="transform: rotate(0); opacity: 1">
            <img src="app/content/images/avatars/5.jpg" alt="avatar">
        </div>

        <div data-50-bottom-center="transform: rotateY(-90deg); opacity: 0" data-50-center-center="transform: rotate(0); opacity: 1">
            <img src="app/content/images/avatars/6.jpg" alt="avatar">
        </div>

    </div>

    <div class="gap" style="background-image:url(app/content/images/main_page_image_10.jpg);"></div>

    <div class="gallery"></div>

<!--
    <footer>

        <div class="footer-left">

            <h3>Companylogo</h3>

            <p class="footer-links">
                <a href="#">Home</a>
                ·
                <a href="#">Blog</a>
                ·
                <a href="#">Pricing</a>
                ·
                <a href="#">About</a>
                ·
                <a href="#">Faq</a>
                ·
                <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">Company Name &copy; 2015</p>

        </div>

        <div class="footer-right"  data-bottom-top="max-width: 200px;" data-bottom-bottom="max-width: 600px;">

            <form method="get" action="#">
                <input placeholder="Search our website"  />
                <i class="material-icons">search</i>
            </form>

        </div>

    </footer>-->


</div>




<div class="scroll-pause" data-anchor-target=".gallery" data-100p-top-top="transform:translateY(100%);" data-top-top="transform:translateY(0%)" data--150p-top-top="" data--300p-top-top="transform:translateY(-100%)">
    <h2>Popular Cities</h2>

    <div class="row" data-anchor-target=".gallery" data-top-top="transform: translateX(0%);" data--150p-top-top="transform: translateX(-50%);">
        <div style="background-image:url(app/content/images/rotate/Chicago.jpg);" ></div>

        <div style="background-image:url(app/content/images/rotate/houston.png);" ></div>

        <div style="background-image:url(app/content/images/rotate/los-angeles.jpg);" ></div>

        <div style="background-image:url(app/content/images/rotate/orlando.jpg);" ></div>

        <div style="background-image:url(app/content/images/rotate/new_york.jpg);" ></div>

        <div style="background-image:url(app/content/images/rotate/sfo.jpg);" ></div>

        <div style="background-image:url(app/content/images/rotate/bay.jpg);" ></div>

        <div style="background-image:url(app/content/images/rotate/sea.jpg);" ></div>
    </div>


    <div class="row" data-anchor-target=".gallery" data-top-top="transform: translateX(-50%);" data--150p-top-top="transform: translateX(0);">

        <div style="background-image:url(app/content/images/rotate/Chicago.jpg);" ></div>

        <div style="background-image:url(app/content/images/rotate/houston.png);" ></div>

        <div style="background-image:url(app/content/images/rotate/los-angeles.jpg);" ></div>

        <div style="background-image:url(app/content/images/rotate/orlando.jpg);" ></div>

        <div style="background-image:url(app/content/images/rotate/new_york.jpg);" ></div>

        <div style="background-image:url(app/content/images/rotate/sfo.jpg);" ></div>

        <div style="background-image:url(app/content/images/rotate/palmtrees.jpg);" ></div>

        <div style="background-image:url(app/content/images/rotate/coast.jpg);" ></div>

    </div>

</div>

<script src="app/content/src/js/skrollr.min.js" type="text/javascript"></script>
<script>
    skrollr.init();
</script>

<!--<script src="http://cdn.tutorialzine.com/misc/enhance/v2.js" async></script>-->

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->


</body>