<div class="content-wrapper" data-ng-controller="matrimonynotification as vm">
    <section class="content-header">
         <span class="alert alert-green"></span>
                    <span class="alert alert-red"></span>
        <p class="notification_text">Please send push notification to all user which profile is incomplete, images are not uploaded etc.</p>
        <div class="notification_btn">
   
            <button type="button" class="btn " id="send-notification-profile" style="font-size: 16px; background-color: #f3aa5e;">Send Notification</button>
 
  
        </div>
    </section>
    <h1 class="paid-notification">Send notification to paid members</h1>
    <section class="content-header">
        <p class="notification_text">Please send push notification to all whose membership will expire soon.</p>
        <div class="notification_btn">
      <button type="button" class="btn " id="send-notification-plan" style="font-size: 16px;background-color: #f3aa5e;">Send Notification</button>
        </div>
    </section>
    </div>
<script>
      active("send-notification");

</script>