<style type="text/css">
    .art-list {
        padding: 10px 0;
        max-height: 300px;
        overflow: auto;
    }

    .art-msg {
        padding-left: 40px;
    }

    .ic1 {
        color: #111111;
    }

    .ic2 {
        color: #ea57a3;
    }

    .fullWidth {
         width: 100%;
        background: #45b39d;
        color: black !important;
    }

    .btn11 {
        width: 100%;
        background: #45b39d;
        color: black !important;
        padding: 10px 40px;
    }
    .back-btn{
        margin: 7px 7px;
    height: 40px;
    min-width: 0;
    float: left;
    line-height: 21px;
    padding: 8px;
    margin-bottom: 14px;
    width: 40px;
    border-radius: 50%;
    color: black;
    background-color: #45b39d;
    }
    .tittle{float: none;}

    /*.md-button:not([disabled]):hover {
        background-color: rgb(69, 179, 157);
    }*/
</style>

<div ng-controller="change_password">

    <!-- left side start-->
    <div ng-include="'app/templates/sidebar.html'"></div>
    <!-- /w3layouts-agile

        <!-- main content start-->
    <div class="main-content">
        <!-- header-starts -->
        <div ng-include="'app/templates/header.html'"></div>
        <!-- //header-ends -->

        <div id="page-wrapper">
            <div class="inner-content">

                <div class="tittle-head">
<!--                    <a class="goto-products-button md-icon-button1 md-button md-ink-ripple back-btn" ng-transclude=""  ng-click="goBack()">
                            <i class="fa fa-arrow-left ng-scope" aria-hidden="true"></i>-->
                        <div class="md-ripple-container" style=""></div></a>
                    <h3 class="tittle">Change Password</h3>
                   

                    <div class="clearfix"> </div>
<!--                     <div class="alert alert-success"></div>
                <div class="alert alert-danger"></div>-->
                </div>


                <!--// change password ms -->
                <md-content class="col-md-4 col-md-offset-4" ng-cloak layout-padding>
                    <form name="change_password">

                        <div layout="row">
                            <md-input-container class="" flex="100">
                                <label>Old password</label>
                                <input required name="old_password" ng-pattern="/^(?=.*\d).{1,16}$/" class="md-raised md-primary" type="password" ng-model="change_passwordData.old_password">
                                <div ng-messages="change_password.old_password.$error">
                                    <span class="error" ng-message="required" ng-if="change_password.old_password.$touched">This is required.</span>
                                    <!--<span class="error" ng-message="pattern" ng-if="change_password.old_password.$touched" >At least one lowercase letter one uppercase letter and one digit.</span>-->
                                </div>
                            </md-input-container>

                        </div>
<!--                        <div layout="row">
                            <md-input-container class="" flex="100">
                                <label>New Password</label>
                                <input required name="new_password" ng-pattern="/^(?=.*\d).{1,16}$/" class="md-raised md-primary" type="password" ng-model="change_passwordData.new_password">
                                <div ng-messages="change_password.new_password.$error">
                                    <span class="error" ng-message="required" ng-if="change_password.new_password.$touched">This is required.</span>
                                    <span class="error" ng-message="pattern" ng-if="change_password.new_password.$touched">At least one lowercase letter one uppercase letter and one digit.</span>
                                </div>
                            </md-input-container>

                        </div>
                        <div layout="row">
                            <md-input-container class="" flex="100">
                                <label>Confirm new password</label>
                                <input required name="confirm_password"  ng-pattern="\b{{change_passwordData.new_password}}\b" class="md-raised md-primary" type="password"
                                    ng-model="change_passwordData.confirm_password">
                                    <div ng-messages="change_password.confirm_password.$error">
                                        <span class="error" ng-message="required" ng-if="change_password.confirm_password.$touched">This is required.</span>
                                        <span class="error" ng-message="change" ng-if="change_password.confirm_password.$touched">At least one lowercase letter one uppercase letter and one digit.</span>
                                        <span class="error" ng-message="new_password !== confirm_password" ng-if="change_password.confirm_password.$touched || change_password.confirm_password.new_password !== change_password.confirm_password.confirm_password ">No matched</span>

                                    </div>
                            </md-input-container>

                        </div>-->
                        <div layout="row">
        <md-input-container class="md-accent" flex="100">
          <label class="ab2">Password</label>
          <input required type="password" name="password" ng-model="change_passwordData.new_password" >
          <div ng-messages="change_password.password.$error">
            <div ng-message="required">Password is required.</div>
          </div>
        </md-input-container>
      </div><!--

--> <div layout="row">
      <md-input-container class="md-accent" flex="100">
         <label class="ab2"> Confirm password</label>
         <input type="password" name="confirmPassword"
  ng-pattern="\b{{change_passwordData.new_password}}\b" ng-model="change_passwordData.confirm_password" required>
<div ng-messages="change_password.confirmPassword.$error">
<div ng-message="required">Required </div>
<div ng-message="pattern">Password do not match </div>

</div></md-input-container>
</div>
                        <div>
                             <div class="alert alert-success"></div>
                <div class="alert alert-danger"></div>
                            <md-button type="submit" class="" ng-click="change_pass()" ng-disabled="change_password.$invalid"><b class="btn11">Submit</b></md-button>
                        </div>
                    </form>
                </md-content>
                <!--// ./change password ms-->
                <!--//music-right-->
                <div class="clearfix"></div>
                <!-- /w3l-agile-its -->
            </div>
            <!--body wrapper start-->


        </div>
        <div class="clearfix"></div>
        <!--body wrapper end-->
        <!-- /w3l-agile -->
    </div>

    <!-- Modals -->
    <div class="modal fade" id="addArtModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>Some text in the modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>




<!--body wrapper end-->


<!--footer section start-->
<footer>
    <p>&copy 2017 F.A.P.S All Rights Reserved</p>
</footer>
<!--footer section end-->
<!-- /w3l-agile -->
<!-- main content end-->
<!--</section>



</div>-->
