<style>
.change{
    
margin-right:20px;
background:#000;
color:#fff;
padding: 10px 40px;

}
pad{
    padding-right:40px;
}
.pull-right {
    float: right;
    margin-right: 180px;
    margin-top: 11px;
   
   
}

    /*.fullWidth {
  
        background:#45b39d;
        color: black !important;
    }*/
    /*.btn11 {
    width: 100%;
    background:black;
    color: white !important;
    padding: 10px 40px;
    margin-right:150px;

    }*/


</style>

<div class="header-section" ng-controller="header">

  
    <a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
 <div>
                                <md-button type="submit" class=" pull-right"  ng-click="logout()" ><b id="changelgbtn" class="change">logout</b></md-button>
                            </div>

    <!--toggle button end-->
    <!--notification menu start -->

            <!--            <div class="col-md-4 serch-part">
                            <div id="sb-search" class="sb-search">
                                <form action="#" method="post">

                                    <input class="sb-search-input" placeholder="Search" type="search" name="search" id="search">
                                    <input class="sb-search-submit" type="submit" value="">
                                    <span class="sb-icon-search"> </span>
                                </form>
                            </div>
                        </div>-->
            <!--             search-scripts

                        <script>
                                    new UISearch(document.getElementById('sb-search'));
                        </script>
                         //search-scripts -->
            <!---->
            <!--            <div class="col-md-4 player">
                            <div class="audio-player">
                                <audio id="audio-player"  controls="controls">
                                    <source src="app/content/media/Blue Browne.ogg" type="audio/ogg"></source>
                                    <source src="app/content/media/Blue Browne.mp3" type="audio/mpeg"></source>
                                    <source src="app/content/media/Georgia.ogg" type="audio/ogg"></source>
                                    <source src="app/content/media/Georgia.mp3" type="audio/mpeg"></source>
                                </audio>
                            </div>


                            audio

                            <script type="text/javascript" src="js/mediaelement-and-player.min.js"></script>



                            //
                            <ul class="next-top">
                                <li><a class="ar" href="#"> <img src="app/content/images/arrow.png" alt=""/></a></li>
                                <li><a class="ar2" href="#"><img src="app/content/images/arrow2.png" alt=""/></a></li>

                            </ul>
                        </div>-->

    </nav>
                     <script>
        $( "#search" ).click(function(e) {
        e.preventDefault();
        $(".search_box").toggleClass('active');
    });

        </script>

<!--
<!--//............. ./search ............\\ -->
<!-- //signup -->
