<div id="preloader">
    <p style="color:#ed4224;font-size:26px;text-align:center">Page Loading...</p>
    <img src="../web/app/content/img/loading.gif" alt="my loader" width="60" style="margin-top:20px"/>
</div>
<div data-ng-controller="subcategories as vm">
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Sub-Category 
                <small></small>
            </h1><br>
            <button type="button" id="sub-category" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-addsub-Category">Add Sub-Category </button>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"> Sub-Category</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="table-responsive">
                        <table class="table no-margin data-table">
                            <thead>
                                <tr>
                                    <th><i class="fa fa-sort"></i> Sub Category Name</th>
                                    <th><i class="fa fa-sort"></i> Category Name</th>
                                    <th><i class="fa fa-sort"></i>Type</th>
                                    <th>Action</th>                                
                                </tr>
                            </thead>
                            <tbody id="view_sub_category">
                        </table>
                    </div><!-- /.table-responsive -->
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">

                </div><!-- /.box-footer -->
            </div><!-- /.box -->        
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
    <!--------------- Add sub category modal------------->
    <div id="modal-addsub-Category" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Sub-Category</h4>
                </div>
                <div class="modal-body">
                    <span class="alert alert-green"></span>
                    <span class="alert alert-red"></span>

                    <select id="category_name" class="form-control" placeholder="choose category">
                        <option selected="choose category">choose category</option>
                    </select><br>
                    <input type="text" name="subcategory_name" id="add_subcategory_name" class="form-control" placeholder="Sub-Category Name">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" class="addpremium"><span>Make this premium only</span>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="save-subcategory">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- modal-->
    <!-- edit modal -->
    <div id="modal-editsub-Category" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Sub-Category</h4>
                </div>
                <div class="modal-body">
                    <span class="alert alert-green"></span>
                    <span class="alert alert-red"></span>
                    <select id="editcategory_name" class="form-control" placeholder="choose category">
                    </select><br>
                    <input type="text" name="category_name" id="edit_subcategory_name" class="form-control" placeholder="Sub-Category Name">
                    <input type="hidden" name="category_id" id="edit_subcategory_id">
                     <div class="checkbox">
                        <label>
                            <input type="checkbox" class="editpremium"><span>Make this premium only</span>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="update-category" ng-click="vm.updatesubCategory();">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div><!-- modal-->
</div>
<script>
    active("sub-category");
//    $('.data-table').DataTable();
</script>


