<div class="login_sec" data-ng-controller="mLogin as vm">   
    <div class="container">
        <h2 class="forgot_mar">Forget Password</h2>
        <div class="col-md-6 forget">			 
            <form method="post" name="loginForm">
                <div class="alert alert-danger fade in login_alert"></div>
                <div class="alert alert-success login_alert" role="alert"></div>
                <div class="form-group log">
                    <h5>Email address</h5>
                    <div ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
                        <input type="email" class="form-control" name="email"  ng-model="vm.forgotObj.email" id="email1" placeholder="Email">
                        <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block">Email is required.</p>
                    </div> 
                </div><br>
                <button type="submit" class="btn btn-primary" id="send" ng-click="vm.forgotPasswords();" ng-disabled="loginForm.$invalid">Send</button>
                <!--                            </a>-->
            </form> 
        </div>
    </div>
</div>
<div ng-include="'app/templates/footer.html'"></div>