<div class="login_sec" data-ng-controller="mLogin as vm">   
    <div class="container">
        <h2 class="forgot_mar">Update Password</h2>
        <div class="col-md-6 forget">			 
            <form method="post" name="loginForm">
                <div class="alert alert-danger fade in login_alert"></div>
                <div class="alert alert-success login_alert" role="alert"></div>
                <div class="form-group log">
                    <h5>New Password</h5>
                    <div ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                        <input type="password" class="form-control" name="password"  ng-model="vm.updateObj.new_password" id="password" required="">
                        <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block">New Password is required.</p>
                    </div> 
                </div><br>
                 <div class="form-group log">
                    <h5>Confirm Password</h5>
                    <div ng-class="{ 'has-error' : loginForm.c_password.$invalid && !loginForm.c_password.$pristine }">
                        <input type="password" class="form-control" name="c_password"  ng-model="vm.c_password" id="c_password" required="">
                          <p ng-show="vm.doNotMatch" class="help-block">Password do not match.</p>
                        <p ng-show="loginForm.c_password.$invalid && !loginForm.c_password.$pristine" class="help-block">Confirm password is required.</p>
                    </div> 
                </div><br>
                <button type="submit" class="btn btn-primary" ng-click="vm.updatePassword();" ng-disabled="loginForm.$invalid">Update</button>
                <!--                            </a>-->
            </form> 
        </div>
    </div>
</div>
<div ng-include="'app/templates/footer.html'"></div>