<style>
    .head_bold
    {
        line-height:21px;
        font-weight:bold;
    }
    .reg
    {
            padding: 30px;
    }

</style>

<section id="about-section mob-pad">
    <!----- main container---->
    <div class="container mob-pad">
        <!----- main row---->
        <div class="row mob-pad section-outer row-mrg15">
            <div class="col-md-12 mob-pad">
                <!----- about content container---->
                <div class="about-text-container">
                    <h2 class="text-center">Terms of Use Agreement</h2>      
                    <div class="col-md-12 about-desc">
                        <!--<div class="count-title">Terms of Use Agreement</div>--> 
                        <div class="count-title-desc">
                            <p class="head_bold">Read These Terms of Use Agreement Before Accessing Website.</p>
                            <p class="head_bold">Effective Date: This Terms of Use Agreement was last updated on 05 th September 2016.</p>
                            <br> <p>This Terms of Use Agreement sets forth the standards of use of the <b>EPARDESH</b>

                                (<b>EPARDESH</b> LLC) formed in State of California, USA Online Service. By using

                                the <b>www.EPARDESH.com</b> website you (the &quot;User&quot;) accept these terms and conditions in

                                full. If you do not agree to these terms and conditions or any part of these terms and

                                conditions, you should immediately cease all usage of this website. We reserve the right, at

                                any time, to modify, alter, or update the terms and conditions without prior notice.

                                Modifications shall become effective immediately upon being posted at <b>EPARDESH</b>.com.

                                Your continued use of the Service after amendments are posted constitutes an

                                acknowledgement and acceptance of the Agreement and its modifications. Except as

                                provided in this paragraph, this Agreement may not be amended. “<b>EPARDESH</b>” and

                                “<b>EPARDESH.com</b>” are the same entity.</p>

                        </div>
                    </div>
                    <div class="col-md-12 about-desc">
                        <div class="count">1</div>
                        <div class="count-title">Disclaimer of Warranties</div>
                        <div class="count-title-desc">
                            <p>The site is provided by <b>EPARDESH</b> on an &quot;as is&quot; and on an &quot;as available&quot; basis. To the

                                fullest extent permitted by applicable law, <b>EPARDESH</b> makes no representations or

                                warranties of any kind, express or implied, regarding the use or the results of this web site in

                                terms of its correctness, accuracy, reliability, or otherwise. <b>EPARDESH</b> shall have no

                                liability for any interruptions in the use of this Website. <b>EPARDESH</b> disclaims all warranties

                                with regard to the information provided, including the implied warranties of merchantability

                                and fitness for a particular purpose, and non-infringement. Some jurisdictions do not allow

                                the exclusion of implied warranties; therefore the above-referenced exclusion is inapplicable.</p>



                        </div>
                    </div>
                    <div class="col-md-12 about-desc">
                        <div class="count">2</div>
                        <div class="count-title">Limitation of Liability</div>
                        <div class="count-title-desc">
                            <p><b>EPARDESH</b> shall not be liable for any damage whatsoever, and in particular

                                <b>EPARDESH</b> shall not be liable for any special, indirect, consequential, or incidental

                                damages, or damages for lost profits, loss of revenue, or loss of use, arising out of or related

                                to this web site or the information contained in it, whether such damages arise in contract,

                                negligence, tort, under statute, in equity, at law, or otherwise, even if <b>EPARDESH</b> has been

                                advised of the possibility of such damages. Some jurisdictions do not allow for the limitation

                                or exclusion of liability for incidental or consequential damages, therefore some of the above

                                limitations is inapplicable.</p>


                        </div>
                    </div>

                    <div class="col-md-12 about-desc">
                        <div class="count">3</div>
                        <div class="count-title">Indemnification</div>
                        <div class="count-title-desc">
                            <p>User agrees to indemnify and hold <b>EPARDESH.com</b>, its parents, subsidiaries, affiliates,

                                officers and employees, harmless from any claim or demand, including reasonable attorneys&#39;

                                fees and costs, made by any third party due to or arising out of User&#39;s use of the Service, the

                                violation of this Agreement, or infringement by User, or other user of the Service using

                                User&#39;s computer, of any intellectual property or any other right of any person or entity.</p>


                        </div>
                    </div>
                    <div class="col-md-12 about-desc">
                        <div class="count">4</div>
                        <div class="count-title">Modifications and Interruption to Service</div>
                        <div class="count-title-desc">
                            <p><b>EPARDESH</b> reserves the right to modify or discontinue the Service with or without

                                notice to the User. <b>EPARDESH</b> shall not be liable to User or any third party should

                                <b>EPARDESH</b> exercise its right to modify or discontinue the Service. User acknowledges and

                                accepts that <b>EPARDESH</b> does not guarantee continuous, uninterrupted or secure access to

                                our website and operation of our website may be interfered with or adversely affected by

                                numerous factors or circumstances outside of our control.</p>


                        </div>
                    </div>
                    <div class="col-md-12 about-desc">
                        <div class="count">5</div>
                        <div class="count-title">Governing Jurisdiction of the Court of California</div>
                        <div class="count-title-desc">
                            <p>Our website is operated and provided in the State of California. As such, we are subject to

                                the laws of the State of California, and such laws will govern this Terms of Use, without

                                giving effect to any choice of law rules. Accordingly, if you choose to access our site you

                                agree to do so subject to the internal laws of the State of California.</p>


                        </div>
                    </div>
                    <div class="col-md-12 about-desc">
                        <div class="count">6</div>
                        <div class="count-title">Compliance with Laws</div>
                        <div class="count-title-desc">
                            <p>User assumes all knowledge of applicable law and is responsible for compliance with any

                                such laws. User may not use the Service in any way that violates applicable state, federal, or

                                international laws, regulations or other government requirements. User further agrees not to transmit any material that encourages conduct that could constitute a criminal offense, give

                                rise to civil liability or otherwise violate any applicable local, state, national, or international

                                law or regulation.</p>


                        </div>
                    </div>
                    <div class="col-md-12 about-desc">
                        <div class="count">7</div>
                        <div class="count-title">Copyrights and Trademark Information</div>
                        <div class="count-title-desc">
                            <p>All content included or available on this site, including site design, text, graphics,

                                interfaces, and the selection and arrangements thereof is 2016 <b>EPARDESH</b>.com, with all

                                rights reserved, or is the property of <b>EPARDESH</b> and/or third parties protected by

                                intellectual property rights. Any use of materials on the website, including reproduction for

                                purposes other than those noted above, modification, distribution, or replication, any form of

                                data extraction or data mining, or other commercial exploitation of any kind, without prior

                                written permission of an authorized officer of <b>EPARDESH</b> is strictly prohibited. Users agree

                                that they will not use any robot, spider, or other automatic device, or manual process to

                                monitor or copy our web pages or the content contained therein without prior written

                                permission of an authorized officer of <b>EPARDESH</b>. <b>EPARDESH</b> and <b>EPARDESH</b>.com are

                                proprietary marks of <b>EPARDESH</b>.com. <b>EPARDESH</b>&#39;s trademarks may not be used in

                                connection with any product or service that is not provided by <b>EPARDESH</b>, in any manner

                                that is likely to cause confusion among customers, or in any manner that disparages or

                                discredits <b>EPARDESH</b>. All other trademarks displayed on <b>EPARDESH</b>&#39;s website are the

                                trademarks of their respective owners, and constitute neither an endorsement nor a

                                recommendation of those Vendors. In addition, such use of trademarks or links to the web

                                sites of Vendors is not intended to imply, directly or indirectly, that those Vendors endorse or

                                have any affiliation with <b>EPARDESH</b>.</p>


                        </div>
                    </div>
                    
                    <div class="col-md-12 about-desc">
                        <div class="count">8</div>
                        <div class="count-title">Registration</div>
                        <div class="count-title-desc">
                            <p><b>EPARDESH</b> needs participants to register to participate in a variety of its services. When

                                you authenticate your email or mobile number for using the service need platform and

                                register as a register member, you accept the following terms and conditions:</p>
                            
                            <ul class="reg">
                                <li><p>You agree to provide true, accurate, current and complete information</p></li>
                                <li><p>In case, after investigation, <b>EPARDESH</b> suspect that any user&#39;s information is

                                untrue, inaccurate, not current or incomplete, <b>EPARDESH</b> may suspend or

                                terminate the user&#39;s account and prohibit any and all current or future use of the

                                website (or any portion thereof) by that user other than as expressly provided

                                herein.</p></li>
                                <li><p>You are wholly responsible for maintaining the confidentiality of account login

                                and password information and for all activities occurring there under.

                                <b>EPARDESH</b> shall not be liable for any loss or damage arising from a user&#39;s

                                failure to comply with this section.</p></li>
                                <li><p>You are responsible to immediately notify <b>EPARDESH</b> of any unauthorised use

                                of your password or account or any other breach of security with proper

                                evidence so as to take action on it. You need to ensure that you exit from your

                                account at the end of each session.</p></li>
                                <li><p>You agree that <b>EPARDESH</b> reserves all rights to publish any and all

                                information provided as part of the registration, except email address and

                                password to authenticate the user, to facilitate social networking among its

                                member.</p></li>
                            </ul>
                                

                               

                               


                        </div>
                    </div>



                    <div class="col-md-12 about-desc">
                        <div class="count">9</div>
                        <div class="count-title">Other Terms</div>
                        <div class="count-title-desc">
                            <p>If any provision of this Terms of Use Agreement shall be unlawful, void or unenforceable

                                for any reason, the other provisions (and any partially-enforceable provision) shall not be

                                affected thereby and shall remain valid and enforceable to the maximum possible extent. You

                                agree that this Terms of Use Agreement and any other agreements referenced herein may be

                                assigned by <b>EPARDESH</b>, in our sole discretion, to a third party in the event of a merger or

                                acquisition. This Terms of Use Agreement shall apply in addition to, and shall not be

                                superseded by, any other written agreement between us in relation to your participation as a

                                User. User agrees that by accepting this Terms of Use Agreement, user is consenting to the

                                use and disclosure of their personal identifiable information and other practices described in

                                our Privacy Policy Statement [if applicable]. If you feel otherwise, please send an email to

                            <u>contact@<b>EPARDESH</b>.com</u> immediately to remove your details from our database.

                            <ul class="reg">
                                <li><p>All content within this website are the property of <b>EPARDESH</b> LLC,

                                permission (which may be revoked at any time) is granted to download the

                                material in this site without alterations and for private and non-commercial use

                                only so long as the following copyright notice is included: © 2016,

                                <b>EPARDESH</b>.com.</p></li>
                                <li><p><b>EPARDESH</b> and other logos associated with these services are trademarks and

                                service marks of <b>EPARDESH</b>.com, all other trademarks, service marks and

                                logos used in the website are the trademarks, service marks or logos of the

                                Merchants and advertisers.</p></li>
                                <li><p>Any offer for any product or service made in the Site is void where prohibited.</p></li>
                                <li><p>Third party trademarks, service marks, logos, trade names and copyrights found

                                on <b>EPARDESH</b>.com website belong to the owner of the service</p></li>
                                <li><p>All rights to the <b>EPARDESH</b> material not expressly granted herein are reserved.</p></li>
                                <li><p>Merchants and advertisers: You acknowledge that <b>EPARDESH</b>.com, does not

                                control the performance of merchants or advertisers that appear on the

                                website. Therefore, if you choose to purchase a product or service, you release us

                                from any and all claims you may have regarding the third party&#39;s failure to

                                deliver or perform</p></li>
                                
                                
                            </ul>  
                            
                            
                            
                            


                        </div>
                    </div>
                    <div class="col-md-12 about-desc">
                        <div class="count">10</div>
                        <div class="count-title">Finance</div>
                        <div class="count-title-desc">
                            <p>While doing any financial transactions on <b>EPARDESH</b>, including paying for

                                membership fees, advertising banners, product placements, products or services, you will be

                                asked for credit card or other payment information. You agree that all information you

                                provide is accurate, complete and current and that you will pay all charges owed, including

                                any applicable taxes. You agree that you are solely responsible for any personal income

                                reporting and tax payments required of you by applicable government authorities.</p>
                            <br><h4>Refund Policy:</h4>
                            <p>All By making a payment for Membership or Advertisement to our site, you acknowledge

                                that you have agreed to the “Refund Policy&quot;. All paid users in <b>EPARDESH</b> website

                                (www.<b>EPARDESH</b>.com) are known as <b>Customer</b> or <b>Subscriber</b>.</p>
                            <br> <h4>Classified Refund:</h4>
                            <p><b>Classifieds</b> Customer/subscriber has the option to cancel the ad within 24 hours of

                                submitting the ad to get the refund. Customer needs to call <b>(916) 864-3374 </b> or can send mail

                                to <u>accounts@<b>EPARDESH</b>.com</u> to get the refund. Refund is applicable only to <b>Premium and

                                Featured ads. No Refund </b>will be provided to <b>Banner ads and Rolling ads</b> in classifieds.

                                After 24 hours there will not be any refund. If a customer cancels an account prior to the

                                expiration of the contract term, the customer must pay the balance of the contract in full as

                                well as any applicable early cancellation fees.</p>
                        <br><h4>Matrimony Refund:</h4>
                            <p><b>Matrimony</b> Customer/Subscriber has the option to cancel the ad within 24 hours of

                                submitting the ad to get the refund. Customer needs to call <b>(916) 864-3374 </b> or can send mail

                                to <u>accounts@<b>EPARDESH</b>.com </u> to get the refund. After 24 hours there will not be any

                                refund. If a customer cancels an account prior to the expiration of the contract term, the

                                customer must pay the balance of the contract in full as well as any applicable early

                                cancellation fees.</p>

                        </div>
                    </div>
                    <div class="col-md-12 about-desc">
                        <div class="count">11</div>
                        <div class="count-title">Terms for EPARDESH Users</div>
                        <div class="count-title-desc">
                            <h4>Classified Terms</h4>
                            <p><b>EPARDESH</b>.com provides Classifieds as a service to enable its users to search for

                                available services. It provides the platform but does not directly participate in, nor is involved

                                in any classifieds transactions. Please keep in mind that classifieds are posted not by this site,

                                but by users of <b>EPARDESH</b>.com. Users of this service are responsible for all aspects of the

                                transactions in which they choose to participate. <b>EPARDESH</b>.com requires a user to register

                                before posting a classified Ad but does not screen or control users, who may sell or buy on

                                Classifieds, nor does <b>EPARDESH</b>.com review or authenticate all listings, items, or services

                                offered for sale. <b>EPARDESH</b>.com have no control over the quality, safety or legality of the

                                items advertised, the truth or accuracy of the listings, the ability of sellers to sell items or the

                                ability of buyers to buy items. Therefore, users of this service should be aware that:
                                
                                
                            <ul class="reg">
                                <li><p>Sellers and buyers are completely responsible for working out the sale and exchange

                                of goods or services. They must resolve any disputes that may arise in their dealings.</p></li>
                                <li><p> Sellers and buyers are responsible for researching and complying with any applicable

                                laws, regulations or restrictions on items, services, or manner of sale or exchange that

                                may pertain to transactions in which they participate.</p></li>
                                <li><p>Sellers and buyers are responsible for all applicable taxes and for all costs incurred by

                                participating in this Classifieds.</p></li>
                                <li><p> EPARDESH.com will not be liable for any damages of any kind incurred as a result

                                of the information contained in this Classifieds or the use of EPARDESH.com

                                Classifieds</p></li>
                                <li><p>Users may not use or manipulate this service for any fraudulent activity or purpose.

                                Items or services offered for sale must comply with applicable laws</p></li>
                                <li><p>We may share your contact information with preferred partners to help you with your

                                property search after seeking prior permission.</p></li>
                                               
                            </ul>
                                
                            <h4>Matrimony Terms</h4>
                            <p>In the event of accessing the matrimony feature, you represent, warrant and covenant

                                that you are at least 18 years old. This feature in the Website

                                (WWW.<b>EPARDESH</b>.COM ) is addressed to adults only. By using the feature you

                                agree that you are 18 years of age and older. Failure to comply with this Agreement

                                may result in legal actions.
                            <ul class="reg">
                                <li><p>You are solely responsible for any information that you display when using the

                                Website or to other members. You will keep all information provided to you through

                                the Website as private and confidential and will not give such information to anyone

                                without the permission of the person who provided it to you</p></li>
                                <li><p>You are aware that the matrimony feature may contain explicit adult oriented

                                materials information provided by consenting users</p></li>
                                <li><p>You will not post messages, pictures or recordings or use the Website in any way

                                which violates, plagiarizes or infringes upon the rights of any third party, including

                                but not limited to any copyright or trademark law, privacy or other personal or

                                proprietary rights, or is fraudulent or otherwise unlawful or violates any law</p></li>
                                <li><p>You will not use the matrimony feature of this website to infringe the privacy rights,

                                property rights, or other civil rights of any person</p></li>
                               
                                
                            </ul>

                               

                            Because <b>EPARDESH</b>.com is a platform, in the event that users have disputes

                                <b>EPARDESH</b>.com and its employees, officers, agents and directors are released from claims,

                                demands and damages (actual and consequential) of every kind and nature, known and

                                unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way

                                connected with such disputes. We do not control the information provided by other users that

                                is made available through our system. Users may find other user&#39;s information to be

                                offensive, harmful, inaccurate, or deceptive. Please use caution and common sense for your

                                own safety. Please note that there are also risks of dealing with underage persons or people

                                acting under false pretence. Additionally, there may also be risks dealing with international

                                trade and foreign nationals.

                                <b>EPARDESH</b> cannot review, has not reviewed all the content including third party content,

                                computer software, posted to the website, and shall not be responsible for the content, use or

                                effects. By operating the website, <b>EPARDESH</b> does not represent or imply that it approves

                                the posted content, or that it believes such content to be accurate, useful or non-harmful. You

                                are responsible for taking measures as necessary to protect yourself and your computer

                                systems from viruses, malwares and other harmful or destructive content. The website may

                                contain objectionable content, as well as content containing technical inaccuracies,

                                typographical mistakes, and other errors. The content from the merchandise, advertiser and

                                user may be offensive, indecent and objectionable. The website may also contain material

                                that violates the privacy or publicity rights, or infringes the intellectual property and other

                                proprietary rights, of third parties, or the downloading, copying or use of which is subject to

                                additional terms and conditions, stated or unstated. <b>EPARDESH</b> disclaims any responsibility

                                for any harm resulting from the use by visitors of the website, or from any downloading by

                                those visitors of content there posted. If you believe that material located on or linked to by

                                <b>EPARDESH</b>.com is offensive, indecent, violates your copyright or otherwise objectionable,

                                

                                you are encouraged to notify our team via the report spam link or via email to

                                <u>info@<b>EPARDESH</b>.com</u> . <b>EPARDESH</b> will respond to all such notices, including as

                                required or appropriate by removing the offensive / objectionable / infringing material or

                                disabling all links to the infringing material on the <b>EPARDESH</b>.com domain. In the case of

                                a visitor who may infringe or repeatedly infringes the copyrights or other intellectual property

                                rights of <b>EPARDESH</b> or others, <b>EPARDESH</b> may, in its discretion, terminate or deny access

                                to and use of the website.</p>
                        </div>
                    </div>

                    <div class="col-md-12 about-desc">
                        <div class="count">12</div>
                        <div class="count-title">CONDUCT</div>
                        <div class="count-title-desc">
                            <p>You agree not to post, email, or otherwise make available Content For US employers who

                                post ad in <b>EPARDESH</b> that violates federal, state, or local equal employment opportunity

                                laws, including but not limited to, stating in any advertisement for employment a preference

                                or requirement based on race, colour, religion, sex, national origin, age, or disability. With

                                respect to employers that employ four or more employees, that violates the anti-

                                discrimination provision of the Immigration and Nationality Act, including requiring U.S.

                                citizenship or lawful permanent residency (green card status) as a condition for employment,

                                unless otherwise required in order to comply with law, regulation, executive order, or federal,

                                state, or local government contract. <b>EPARDESH</b> cannot guarantee, and assume no

                                responsibility for verifying, the accuracy of the information provided by other users of the

                                Website. You may not use the Website for any unlawful purpose. You acknowledge that you

                                cannot sue <b>EPARDESH</b> or any of its employees for any damages done to you through the

                                site.</p>


                        </div>
                    </div>
                    <div class="col-md-12 about-desc">
                        <div class="count">13</div>
                        <div class="count-title">Termination of service</div>
                        <div class="count-title-desc">
                            <p>You agree that <b>EPARDESH</b>, in its sole discretion, has the right (but not the obligation) to

                                delete or deactivate your account, deactivate your advertisement, block your email or IP

                                address, or otherwise terminate your access to or use of the Service (or any part thereof),

                                immediately and without notice, and remove and discard any Content within the Service, for

                                any reason, including, without limitation, if <b>EPARDESH</b> believes that you have acted

                                inconsistently with the letter or spirit of the Terms.  

                                You agree that <b>EPARDESH</b> shall not be liable to you or any third-party for any termination

                                of your access to the Service. Further, you agree not to attempt to use the Service after said

                                termination. Above Sections shall survive termination of these terms.</p>


                        </div>
                    </div>
                    <div class="col-md-12 about-desc">
                        <div class="count">14</div>
                        <div class="count-title">No Spam Policy at <b>EPARDESH</b></div>
                        <div class="count-title-desc">
                            <p> You understand and agree that sending unsolicited email advertisements to <b>EPARDESH</b>

                                email addresses or through <b>EPARDESH</b> computer systems, which is expressly prohibited by

                                these Terms.

                                Any unauthorized use of <b>EPARDESH</b> website is a violation of these Terms and certain

                                federal and state laws, including without limitation the Computer Fraud and Abuse Act of

                                1986.  Such violations may subject the sender and his or her agents to civil and criminal

                                penalties</p>


                        </div>
                    </div>
                    <div class="col-md-12 about-desc">
                        <div class="count">15</div>
                        <div class="count-title"><b>EPARDESH</b> Content and it’s Use</div>
                        <div class="count-title-desc">
                            <p>You understand that all postings, messages, text, files, images, photos, video, sounds,

                                or other materials (&quot;Content&quot;) posted on, transmitted through, or linked from the

                                Service, are the sole responsibility of the person from whom such Content originated.

                                More specifically, you are entirely responsible for all content that you post, email or

                                otherwise make available via the Service.  
                            <ul class="reg">
                                <li><p>You understand that <b>EPARDESH</b> does not control, and is not responsible for Content

                                made available through the Service, and that by using the Service, you may be

                                exposed to Content that is offensive, indecent, inaccurate, misleading, or otherwise

                                objectionable.</p></li>
                                <li><p>The <b>EPARDESH</b> site and Content available through the Service may contain links to

                                other websites, which are completely independent of <b>EPARDESH</b>.</p></li>
                                <li><p><b>EPARDESH</b> makes no representation or warranty as to the accuracy, completeness

                                or authenticity of the information contained in any such site. Your linking to any other

                                websites is at your own risk.</p></li>
                                <li><p>You agree that you must evaluate, and bear all risks associated with, the use of any

                                Content, that you may not rely on said Content, and that under no circumstances will

                                <b>EPARDESH</b> be liable in any way for any Content or for any loss or damage of any

                                kind incurred as a result of the use of any Content posted, emailed or otherwise made

                                available via the Service.</p></li>
                                <li><p>You acknowledge that <b>EPARDESH</b> does not pre-screen or approve Content, but that

                                <b>EPARDESH</b> shall have the right (but not the obligation) in its sole discretion to

                                refuse, delete or move any Content that is available via the Service, for violating the

                                letter or spirit of the Terms or for any other reason.</p></li>
                                
                            </ul>

                               


                        </div>
                    </div>



                </div>
                <!----- about content container---->
            </div>
        </div>
        <!----- /main row---->
    </div>
    <!----- /main container---->
</section>
<div ng-include="'app/templates/footer.html'">
</div>