<div id="preloader">
    <p style="color:#ed4224;font-size:26px;text-align:center">Page Loading...</p>
    <img src="../web/app/content/img/loading.gif" alt="my loader" width="60" style="margin-top:20px"/>
</div>
<div data-ng-controller="addpromotional as vm">
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                Add Promotional Ads
                <small></small>
            </h1><br>

        </section>
        <!-- Main content -->
        <section class="content">
            <div class="box box-info">
                <div class="box-body">
                    <form id="main-contact-form" class="contact-form col-md-8" name="promotional_form" method="post" action="#">
                        <div class="col-sm-12 col-md-12">

                            <div class="form-group">
                                <label for="title">Type</label>
                                <select id="prom_ads" class="form-control">
                                    <option value="0">choose Type</option>
                                    <option value="Banner">Banner</option>
                                    <option value="Rolling">Rolling</option>
                                </select>
                                <input type="hidden" name="promotional_id" id="edit_category_id">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <div class="form-group">
                                <label for="title">Image</label>
                                <input type="File" name="profile"  id="ad_img" class="form-control" onchange="angular.element(this).scope().uploadimage()">
                                <div id="dvPreview"></div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 region_mar">
                            <div class="form-group col-md-6">
                                <label>Select Regions</label>
                            </div>
                            <div class="form-group col-md-6">
                                <button type="button" class="btn btn-xs add_more">Add More Select Regions</button>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 region_mar add_more_select">
                            <div class="form-group col-md-4">
                                <label for="title">Country</label>
                                <select  class="form-control chose_country" id="chose_country0" name="country_name" required>
                                    <option value="0">Choose Country</option>
                                    <option value="USA">USA</option>
                                    <option value="India">India</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="state">State</label>
                                <select class="form-control select_control state" id="state0" name="state_name" required>
                                    <option value="0">choose a state</option>
                                    <option ng-repeat="st in vm.states">{{st.location_name}}</option>
                                </select>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="region">Region</label>
                                <select class="form-control select_control region" multiple id="region0" name="region_name" required>
                                    <option>Choose a region</option>
                                    <option ng-repeat="st in vm.cities" value="{{st.city_name}}">{{st.city_name}}</option>
                                </select>
                            </div>
                        </div>
                        <span class="alert alert-green"></span>
                        <span class="alert alert-red"></span>
                        <button type="button" class="btn btn-primary btn-sm" id="save_ads">save</button>
                    </form>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                </div>
            </div><!-- /.box -->
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
</div>
<!--<script type="text/javascript">
            $(function () {
            $("#ad_img").change(function () {
                console.log("entered")
            $("#dvPreview").html("");
                    var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                    if (regex.test($(this).val().toLowerCase())) {
            if ($.browser && parseFloat(jQuery.browser.version) <= 9.0) {
            $("#dvPreview").show();
                    $("#dvPreview")[0].filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = $(this).val();
            }
            else {
            if (typeof (FileReader) != "undefined") {
            $("#dvPreview").show();
                    $("#dvPreview").append("<img />");
                    var reader = new FileReader();
                    reader.onload = function (e) {
                    $("#dvPreview img").attr("src", e.target.result);
                    }
            reader.readAsDataURL($(this)[0].files[0]);
            } else {
            alert("This browser does not support FileReader."); 
        }
            }                                                     
        }      
            else {
            alert("Please upload a valid image file.");
            }
            });
        });
</script>-->