<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  
    <nav class="navbar navbar-default mob">
        <!---- top header----->
        <div class="top_bg">
            <div class="container">
                <div class="header_top-sec mob-header">
                    <div class="col-sm-4 col-xs-4 pad-0">
                        <div class="top_right">
                            <ul>
                                 <li><a ui-sref="main"> <img src="app/content/img/logoEpardesh.png"alt=""/></a></li>
                            </ul>
                        </div>
                    </div>                  
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                </div>
                
            </div>
     
        </div>        
    </nav> 
    
</div>
<section id="about-section mob-pad">
    <!----- main container---->
    <div class="container mob-pad">
        <!----- main row---->
        <div class="row mob-pad section-outer row-mrg15">
            <div class="col-md-12 mob-pad">
                <!----- about content container---->
                <div class="about-text-container">
                    <h2 class="text-center">About Us</h2>      
                
                    <div class="col-md-12 about-desc">
<!--                        <div class="count">1</div>
                        <div class="count-title">About ePardesh.com</div> -->
                        <div class="count-title-desc">
		    <p><h2 style="text-align:center;"> Coming Soon</h2></p>
                        </div>
                    </div>
                   <!-- <div class="col-md-12 about-desc">
                        <div class="count">2</div>
                        <div class="count-title">How are we different from others</div>
                        <div class="count-title-desc">
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32</p>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                        </div>
                    </div> -->
                </div>
                <!----- about content container---->
            </div>
        </div>
        <!----- /main row---->
    </div>
    <!----- /main container---->
</section>
<div ng-include="'app/templates/footer.html'">
</div>
