<style>
    .b-name{
        padding-right: 0;
        padding-left: 0;
        padding-top: 5px;
    }
    .add_bx{
        position:relative;
    }
    .ad_feature_img {
        position: absolute;
        margin-left: -10px;
        /* width: 9%; */
        margin-top: -10px;
        z-index: 99;
    }

    .add_title {
        line-height: 20px;        
        font-size: 13px;
        font-weight:bold;
        color:#0e54f2;
        text-transform: uppercase;
        word-wrap: break-word;
        /*text-decoration: underline;*/

    }
    .pad-right-0{
        padding-right:0px;
    }
    .showActive{
        background-color: #77131c !important; 
        color:#fff !important; 
    }
    .edit_new{
        padding:0px 2px !important;
    }
    .success{
        color:green;
    }
    .danger{
        color:red;
    }
    .catul
    {
        list-style:none;
    }
    .all-ser-res {
        width: 100%;
        padding-top: 10px;
        list-style:none;
        left: 61px;
        text-align: left;
        /* overflow: hidden; */
        font-size: 16px;
        /*border:1px solid;*/
    }
    .all-ser-res ul li {

        display: inline-block;
        width: 31%;
        /*margin-left: -67px*/
    }
    .all-ser-res1 ul li {

        display: inline-block;
        width: 100%;
        /*margin-left: -67px*/
    }
    .all-ser-res1 {

        width: 100%;
        /*padding: 6px 77px;*/
        list-style: none;
        /* border: 1px solid; */
        /*left: 36px;*/
        text-align: left;
        overflow-y: auto;
        font-size: 16px;
        height: 100px;
    }
    .nofound
    {
        width: 100%;
        /* padding: 6px 77px; */
        list-style: none;
        /* border: 1px solid; */
        /* left: 36px; */
        text-align: left;
        font-size: 16px;
        height: 131px;

    }


    /*    .crsr-ptr:hover
        {
            background-color:#f58705;
        }*/
    /*    .all-ser-res1 ul li:hover
        {
            background-color:#f58705;
        }*/
    /*     .all-ser-res1 ul li
        {
            left:0px;
        }*/
    /*     .all-ser-res ul li:hover
        {
            background-color:#f58705;
        }*/
    /*    .all-ser-res ul li
        {
            left:0px;
        }*/
    .all-ser-fulltitle {
        color: #f58705;
        cursor: default;
        display: block;

        font-size: 20px;
        letter-spacing: .5px;
        overflow: hidden;
        padding-bottom: 6px;
        padding-top: 18px;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
        z-index: 1;
        /*    border-right: 1px solid #8c8b8b;*/
    }
    button.btn.req_btn:hover {
        background: #232e3f;
        color: #fff;
    }
    .back
    {
        background:#efefef;
    }
    .price
    {

        border-right: 2px solid rgb(239,239,239);
        box-shadow: 1px 0px 3px rgb(239,239,239);
    }
    .slider {
        position: relative;
        margin: 1em 0px 22px 0px !important;
        margin-top: 21px !important; 
    }
    .setInput
    {
        width:100%;
    }


    .slider {
        position: relative;
        text-align: left;
        border: 1px solid gray;
        height: 0.6em;
    }

    .slider .handle {
        position: absolute;
        z-index: 2;
        width: 1.2em;
        height: 1.2em;
        background-color: #efefef;
    }

    .handle {
        top: -0.3em;
        margin-left: -0.6em;
    }

    .slider .range {
        position: absolute;
        z-index: 1;
        display: block;
        font-size: .7em;
        background-color: #232e3f;
        top: 0;
        height: 100%;
    }
    .top
    {
        margin-top: 24px;
    }
    .top_featured
    {
        /*max-width: 226px;*/
        /*min-height: 360px;*/
        /*border: 1px solid;*/
        /*background-color: #232f3e;*/
        /*margin-left: 10px;*/
        margin-top: 4px;
        /*width:100% !important;*/
        /*margin-left: 56px;*/
    }
    .card {
        width: 100%;
        position: relative;
        display: inline-block;
        background-color: #fff;
        border-radius: .25rem;
        border: 1px solid rgba(0,0,0,.125);
        /*min-height: 180px;*/   
        overflow: hidden;
        word-wrap: break-word;
        margin-top:14px;
    }
    .card-block
    {
        font-size: 13px;
        padding: 7px;
    }
    @media(max-width :1300px)
    {
        .sort{
            font-size: 10px;
        }
        .sort1{
            font-size: 12px;
            margin-top:14px;
        }
    }
    @media(max-width :1000px)
    {
        .sort{
            font-size: 8px;
        }
        .sort1{
            font-size: 12px;
            margin-top:14px;
        }
    }
    .filter
    {
        background:#efefef;
        padding: 4px 17px;
        margin-bottom: 8px;
    }
    .has_image
    {
        margin-bottom: 9px;
    }
    .ad_info
    {
        border-left: 1px solid #232e3f;
    }


    .busn
    {

        font-size: 14px;
        /* background-color: #f1f1f1; */
        /* border: 1px solid #dfdfdf; */
        /* margin: 0px -7px; */
        padding: 5px;


        word-break: break-word;
        border: 1px outset;
        border-color: #0e54f2;
        color: #0e54f2;

        font-weight: 600;
        text-align: center;
    }

    .posted_view
    {
        font-size: 12px;
        color: #232e3f;
        line-height: 41px;
    }
    .loc_name
    {
        font-size:12px;
        color: #232e3f;
        line-height: 18px;
    }

    .business_name
    {
        font-size: 16px;
        /* background-color: #f1f1f1; */
        border: 1px solid #dfdfdf;
        /* margin: 0px -7px; */
        padding: 5px;
        border-radius: 17px;
        /* margin-top: 14px; */
        word-break: break-word;
        border-color: #0e54f2;
        font-weight: bold;
        color: #0e54f2;
        text-align: -webkit-center;
    }

    .sort_by
    {
        margin-top:26px;
    }
    .moreimages
    {
        font-size: 12px;
        padding: 21px;
        color:#0e54f2;
    }

    .pac-container { margin-top:-110px !important; z-index: 1051 !important; }
    @media (max-width: 480px) {

        .pac-container {
            margin-top:-110px !important;
            z-index: 1051 !important;
        }

    }
    @media (max-width: 767px) {

        .pac-container {
            margin-top:-100px !important;
            z-index: 1051 !important;
        }

    }



    /*===============================================
        See All Category popup CSS
        =================================================*/
    .align-a-right {
        font-size: 12px;
        clear: both;
        text-align: right;
    }
    .align-a-right a {
        color: #0e54f2;
    }
    .all-ser-res1 {
        height: 110px;
        margin-bottom: 5px;
        border: 1px solid #f5e9e9;
    }
    .marleft{
        margin-left: -15px;
        font-size: 16px;
    }
    div#pp {
        height: 200px;
    }
    .all-ser-res1 ul li {
        font-size: 14px;
        padding: 1px 4px;
    }
    .all-ser-res1 ul li:hover {
        background-color: #0e54f2;
        color: #fff;
    }
    /*===============================================
    End of See All Category popup CSS
    =================================================*/






</style>
<!--<script src="app/components/bootstrap-ui/pagination.js"></script>-->
<div  class="back" data-ng-controller="adCtrl as vm">
    <div class="bottom_content ads_top_mar">
        <!--        <div class="container text-center" ng-show="vm.hideLoader">
                    <div class="col-md-8 add_bx"><img src="app/content/img/loading.gif"></div>
                </div>-->

        <!--<span ng-hide="vm.hideLoader">-->




        <span>   
            <div class="col-md-12 col-sm-12 col-xs-12 top">

                <div class="row">


                    <div class="col-md-2 col-sm-12 col-xs-12 top_featured" ng-if="vm.topfeaturedAd !=''" ng-repeat="dt in vm.topfeaturedAd"> 


                        <div class="card" >
                            <a  ng-click='vm.adDetailFun(dt.ad_info.id);'> 
                                <span ng-if="dt.image_info !=''" ng-repeat="feImg in dt.image_info" >                                  
                                    <img ng-if="feImg[0].image_type=='featured'" style="height: 190px;width: 100%;" src="{{feImg[0].image_path}}" alt=""/>
                                </span>

                                <span ng-if="dt.image_info !=''" ng-repeat="feImg in dt.image_info | limitTo: 1" >                                  
                                    <img ng-if="feImg[0].image_type!='featured'" style="height: 190px;width: 100%;" src="app/content/img/dummy.jpg" alt=""/>
                                </span>

                                <span ng-if="dt.image_info ==''">                                  
                                    <img  style='height: 190px;width: 100%;' src="app/content/img/dummy.jpg" alt=""/>
                                </span>
                                <div class="card-block" >
                                    <p class="card-text">{{dt.ad_info.ad_tittle| limitTo: 20}}{{dt.ad_info.ad_tittle.length > 20 ? ".." : ""}}</p>

                                </div>
                            </a>
                        </div>
                    </div>


                </div>


                <div class="row sort_by">
                    <div class="col-md-2 col-sm-2 col-xs-2 div-align">


                    </div>
                    <div class='col-md-8 col-sm-12 col-xs-12'>
                        <div class='col-md-4 col-sm-4 col-xs-4'>
                            <span class="sort">Sort By price</span>&nbsp;&nbsp;
                            <select ng-model="vm.sortByprice" ng-change="vm.Byprice()">
                                <option value="low to high">low to high</option>
                                <option value="high to low">high to low</option>

                            </select>

                        </div>
                        <div class='col-md-4 col-sm-4 col-xs-4'>
                            <span class="sort">Sort By Date</span>&nbsp;&nbsp;
                            <select ng-model="vm.sortBydate" ng-change="vm.Bydate()">
                                <option value="low to high">low to high</option>
                                <option value="high to low">high to low</option>                         
                            </select>

                        </div>
                        <div class='col-md-4 col-sm-4 col-xs-4'>
                            <span class="sort">Sort By Distance</span>&nbsp;&nbsp;
                            <select ng-model="vm.sortBydistance" ng-change="vm.Bydistance()">
                                <option value="low to high">low to high</option>
                                <option value="high to low">high to low</option>

                            </select>                       
                        </div>                     
                    </div>



                </div>

                <div class="col-md-2 col-sm-10 col-xs-12 price sort1">
                    <div class="filter">
                        <i class="fa fa-filter" aria-hidden="true"></i>&nbsp;&nbsp;Filter By
                    </div>
                    <form class="form-group">
                        <div>
                            <p>Price Range</p>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p>Min<input type="text" class="setInput" ng-model="userMinPrice" readonly/></p> 
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p>Max<input type="text" class="setInput" ng-model="userMaxPrice" readonly/></p>
                                </div>
                            </div>

                            <div range-slider min="price.price_min" max="price.price_max" model-min="userMinPrice" model-max="userMaxPrice"></div>
                            <!--<slider-range class="slid" min="{{price.price_min}}" max="{{price.price_max}}" value-min="price.price_min" value-max="price.price_max"></slider-range>-->

                        </div>  
                        <div>
                            <p>Distance Range</p>
                            <div class="row">
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p>Min<input type="text" class="setInput" ng-model="distance.value_min" readonly/></p> 
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <p>Max<input type="text" class="setInput" ng-model="distance.value_max" readonly/></p>
                                </div>
                            </div>

                            <div range-slider min="0" max="6000" model-min="distance.value_min" model-max="distance.value_max"></div>
                            <!--<slider-range min="0" max="6000" value-min="distance.value_min" value-max="distance.value_max"></slider-range>-->

                        </div>
                        <div class="row">
                            <p>Posted Within(days)</p>
                            <div class="cntr  setInput" id="range"></div>
                        </div>
                        <div class="row has_image">
                            <p>Has image?</p>
                            <input type="checkbox" name="check_image" class="check"/>
                            <br></div>
                        <div class="row setInput" >
                            <p>Ad Title </p>
                            <input type="text" class="form-control" name="check_image" ng-model="ad_title"/>

                        </div>
                        <br><div class="row">
                            <button  type="button" class=" form-control btn req_btn"  ng-click='vm.filter();'>Filter</button>           
                        </div>
                    </form>


                </div>
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div ng-if="vm.getData ==''"class="container" >
                        <div class="col-md-8 add_bx">No Related Ads Found!</div>
                        <br>   
                    </div>

                    <div class="col-md-12 add_bx" ng-repeat='dt in vm.getData'>
                        <div class="col-md-9 ">
                            <img ng-if='dt.ad_info.ad_type ==2'  src="app/content/img/featured.png" style="margin-left: -24px;" class="ad_feature_img" alt=""/>
                            <img ng-if='dt.ad_info.ad_type ==0' src="app/content/img/free.png" style="margin-left: -24px;" class="ad_feature_img" alt=""/>
                            <img ng-if='dt.ad_info.ad_type ==1' src="app/content/img/premium.png" style="margin-left: -24px;" class="ad_feature_img" alt=""/>
                            <!--<img  src="app/content/img/premium.gif" class="ad_feature_img"  alt=""/>-->

                            <div class="col-md-4">
                                <span class="crsr-ptr"  ng-if="dt.image_info !=''" ng-repeat="feImg in dt.image_info" ng-click='vm.adDetailFun(dt.ad_info.id);'>                                  
                                    <img ng-if="feImg[0].image_type=='featured'" style='max-width: 100%; margin-left: 20px; max-height: 180px;margin-top: 26px;' src="{{feImg[0].image_path}}" alt=""/>
                                </span>
                                <!--                            <img src="app/content/img/business_add.jpeg" alt="">-->


                                <span class="crsr-ptr"  ng-if="dt.image_info !=''" ng-repeat="feImg in dt.image_info |limitTo :1" ng-click='vm.adDetailFun(dt.ad_info.id);'>                                  
                                    <img ng-if="feImg[0].image_type!='featured'" style='max-width: 100%; margin-left: 20px; max-height: 180px;' src="app/content/img/dummy.jpg" alt=""/>
                                </span>



                                <span class="crsr-ptr" ng-if="dt.image_info ==''">
                                    <img src="app/content/img/dummy.jpg" alt="" style='max-width: 100%; margin-left: 20px; max-height: 180px;' >
                                </span>
                                <span class='moreimages' ng-if='dt.image_info.length > "1"'>{{dt.image_info.length - 1}} More Images </span>

                            </div>
                            <div class="col-md-8 pad-right-0">
                                <div class="row pad-right-0">
                                    <h3 class="crsr-ptr add_title" ng-click='vm.adDetailFun(dt.ad_info.id);'>{{dt.ad_info.ad_tittle |limitTo: 100 }}{{dt.ad_info.ad_tittle.length > 100 ? ".." : ""}}</h3>
                                </div>
                                <hr style="height:1px;margin-top: 7px;margin-bottom: 7px;border-bottom: 1px dashed; width:100%;">
                                <div class="row pad-right-0">
                                    <!--                                    <div hm-read-more
                                                                             hm-text="{{dt.ad_info.ad_description}} " 
                                                                             hm-limit="100" 
                                                                             hm-more-text="read more" 
                                                                             hm-less-text="read less"
                                                                             hm-dots-class="dots"
                                                                             hm-link-class="links">
                                                                        </div>-->
                                    <!--                                    <p class="add_desc crsr-ptr" ng-click='vm.adDetailFun(dt.ad_info.id);'> {{dt.ad_info.ad_description}}                                                                                  
                                                                        </p>-->

                                    <p class="add_desc crsr-ptr" ng-click='vm.adDetailFun(dt.ad_info.id);' ng-bind-html="dt.ad_info.ad_description |limitTo:vm.len[$index].limit">                                                                                   
                                    </p>
                                    <span ng-if='dt.ad_info.ad_description.length > vm.len[$index].limit'><a ng-click='vm.showmore(dt.ad_info.ad_description.length,$index);' class="btn btn-xs" >Show More</a></span>

                                    <span ng-if='dt.ad_info.ad_description.length == vm.len[$index].limit'><a ng-click='vm.showless($index);' class="btn btn-xs" >Show less</a></span>

                                </div>
                            </div>

                        </div>



                        <div class="col-md-3 ad_info">

                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <a   style="font-size: 10px;" ng-if="dt.ad_info.favourite_status == '0'" ng-click="vm.addtofav(dt,$index)" class="addtofav" title="Add to favourite"><img src="app/content/img/like.png"></a>

                                    </div>
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <p class="busn"> <mark>&#x24;{{dt.ad_info.ad_price}}</mark></p>
                                    </div>

                                </div>
                                <div class="row">
                                    <p class="posted_view"> Posted On:&nbsp;&nbsp;{{dt.ad_info.updated_on |  date :  "dd-MMM-y"}}</p>

                                </div>
                                <div class="item-info">
                                    <p class="business_name"> {{dt.ad_info.business_name |limitTo: 25 }}{{dt.ad_info.business_name.length > 25 ? ".." : ""}}</p>
                                </div>

                                <!--                        <span class="posted_ad"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;{{dt.ad_info.email}}</span>  
                                                        <br> <span class="posted_ad"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;{{dt.ad_info.phone}}</span> <br>-->
                                <div>
                                    <button type="button" class="btn btn-xs edit_new req_btn"  ng-click='vm.adDetailFun(dt.ad_info.id);'>Details</button>   
                                    <button type="button" class="btn btn-xs edit_new req_btn"  ng-click='vm.viewContactFun(dt)'>View Contact</button>  
                                    <button type='button'class='btn btn-xs edit_new req_btn' ng-click="vm.viewsendemail(dt)" >Send Email</button>

                                </div>
                                <div class="item-info">
                                    <p class="loc_name"><i class="fa fa-map-marker"></i>&nbsp;{{dt.ad_info.city}},{{dt.ad_info.state}}</p>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>





            </div>

        </span>
        <div class='col-md-12 col-sm-12 col-xs-12 back' ng-show='vm.showPagination'>
            <div class="col-md-3 col-sm-2" style="padding-top:25px"> Search By Page:</div>
            <div class="col-md-9 col-sm-10 col-xs-12">

                <!--                <ul class="pagination" >
                
                                                <li disabled="disabled"><a>«</a></li>
                                    <li ng-repeat="pages in vm.totalPagesArr"  ng-click="vm.showMore(pages-1)">
                                        <a  class="page-{{pages-1}}">prev</a>
                                        <a ng-if='pages==1' class="pages page-{{pages}} showActive">{{pages}}</a>
                                        <a ng-if='pages>1' class="pages page-{{pages}}">{{pages}}</a>
                                    </li>
                                                <li disabled="disabled"><a>»</a></li>
                                </ul>-->

                <div  data-pagination="" data-num-pages="numPages()" 
                      data-current-page="currentPage" data-max-size="maxSize"  
                      data-boundary-links="true"></div>                                             

            </div>
        </div>

    </div>


    <modal visible="vm.viewContact" id="cMOdal" style="margin-top: 115px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="vm.closeModal(1);" aria-hidden="true">&times;</button>
            <h4 class="modal-title">View Contact Info</h4>   
        </div>

        <h4 style="margin-bottom:5px"><i class="fa fa-user" aria-hidden="true"></i>&nbsp;&nbsp;{{vm.name}}</h4>
        <h4 style="margin-bottom:5px"><i class="fa fa-envelope-o" aria-hidden="true"></i>&nbsp;&nbsp;{{vm.email}}</h4>  
        <h4 style="margin-bottom:5px"><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp;{{vm.phone}} </h4>
        <hr>
    </modal> 
    <modal visible="vm.addContactInfoModal" style="margin-top: 115px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="vm.closeModal(2);" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Enter your information to view ad contact info</h4>   
        </div>
        <div class ="issign">
            <div class="alert alert-danger fade in"></div>
            <div class="alert alert-success" role="alert"></div>
        </div>
        <form novalidate name="addForm"  method="post">
            <div class="{{vm.type}}">{{vm.msg}}</div>
            <div class="form-group">
                <div ng-class="{ 'has-error' : addForm.name.$invalid && !addForm.name.$pristine }">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" ng-model="vm.viewContactObj.name" id="name" required>
                    <p ng-show="addForm.name.$invalid && !addForm.name.$pristine" class="help-block">Name is required.</p>
                </div>   
            </div>
            <div class="form-group">
                <div ng-class="{ 'has-error' : addForm.email.$invalid && !addForm.email.$pristine }">
                    <label for="email">Email</label>
                    <input type="email" name="email" class="form-control" ng-model="vm.viewContactObj.email" id="email" required>
                    <p ng-show="addForm.email.$invalid && !addForm.email.$pristine" class="help-block">Email is required.</p>
                </div>   
            </div>
            <div class="form-group">
                <div ng-class="{ 'has-error' : addForm.phone.$invalid && !addForm.phone.$pristine }">
                    <label for="email">Phone</label>
                    <input type="text" class="form-control" phone-input name="phone" ng-model="vm.viewContactObj.phone" id="phone" required>
                    <p ng-show="addForm.phone.$invalid && !addForm.phone.$pristine" class="help-block">Phone is required.</p>
                </div>
            </div>
            <button type="submit"  class="btn btn-success ng-binding article-save-btn" ng-click="vm.adContactView()" ng-show="vm.showSending" ng-disabled="addForm.$invalid">Send</button>
            <button type="submit"  class="btn btn-success ng-binding article-save-btn" ng-hide="vm.showSending">Sending..</button>
            <button type="submit"  class="btn btn-success ng-binding article-save-btn" ng-click="vm.closeModal(2);" >Cancel</button>

        </form>
        <hr>
    </modal>


    <modal visible="vm.eventSendEmail" style='margin-top:130px;'>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="vm.closeModal(3);" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Send Email To Ad Owner</h4>   
        </div>
        <div class ="issign">
            <div class="alert alert-danger fade in"></div>
            <div class="alert alert-success" role="alert_email"></div>
        </div>
        <form novalidate name="addFormEmail"  method="post">
            <div class="{{vm.type_email}}">{{vm.msg_email}}</div>
            <div class="form-group">
                <div ng-class="{ 'has-error' : addFormEmail.name.$invalid && !addFormEmail.name.$pristine }">
                    <label for="name">Name<span  style="color:red;">*</span></label>
                    <input type="text" class="form-control" name="name" ng-model="vm.sendEmailObj.sender_name" id="name" required>
                    <p ng-show="addFormEmail.name.$invalid && !addFormEmail.name.$pristine" class="help-block">Name is required.</p>
                </div>   
            </div>
            <div class="form-group">
                <div ng-class="{ 'has-error' : addFormEmail.email.$invalid && !addFormEmail.email.$pristine }">
                    <label for="email">Email<span  style="color:red;">*</span></label>
                    <input type="email" name="email" class="form-control" ng-model="vm.sendEmailObj.sender_email" id="email" required>
                    <p ng-show="addFormEmail.email.$invalid && !addFormEmail.email.$pristine" class="help-block">Email is required.</p>
                </div>   
            </div>
            <div class="form-group">
                <div ng-class="{ 'has-error' : addFormEmail.phone.$invalid && !addFormEmail.phone.$pristine }">
                    <label for="email">Phone<span  style="color:red;">*</span></label>
                    <input type="text" class="form-control" phone-input name="phone" ng-model="vm.sendEmailObj.sender_phone" id="phone" required>
                    <p ng-show="addFormEmail.phone.$invalid && !addFormEmail.phone.$pristine" class="help-block">Phone is required.</p>
                </div>
            </div>
            <div class="form-group">
                <div ng-class="{ 'has-error' : addFormEmail.phone.$invalid && !addFormEmail.phone.$pristine }">
                    <label for="email">Message<span  style="color:red;">*</span></label>
                    <textarea class="form-control" name="msg" ng-model="vm.sendEmailObj.message" id="msg" required></textarea>
                    <p ng-show="addFormEmail.msg.$invalid && !addFormEmail.msg.$pristine" class="help-block">message is required.</p>
                </div>
            </div>
            <button type="submit"  class="btn btn-success ng-binding article-save-btn" ng-click="vm.eventSendEmailCon()" ng-show="vm.showSending" ng-disabled="addFormEmail.$invalid">Send</button>
            <button type="submit"  class="btn btn-success ng-binding article-save-btn" ng-hide="vm.showSending">Sending..</button>
            <button type="submit"  class="btn btn-success ng-binding article-save-btn" ng-click="vm.closeModal(3);" >Cancel</button>
        </form>
        <hr>
    </modal>

    <!-- with login -->
    <modal visible="vm.eventSendEmaillogin" style='margin-top:130px;'>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="vm.closeModal(4);" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Send Email To Ad Owner</h4>   
        </div>
        <div class ="issign">
            <div class="alert alert-danger fade in"></div>
            <div class="alert alert-success" role="alert_email_login"></div>
        </div>
        <form novalidate name="addFormlogin"  method="post" class="semail">
            <div class="{{vm.type_email_login}}">{{vm.msg_email_login}}</div>


            <div class="form-group">
                <div ng-class="{ 'has-error' : addFormlogin.phone.$invalid && !addFormlogin.phone.$pristine }">
                    <label for="email">Message<span  style="color:red;">*</span></label>
                    <textarea class="form-control"  name ="msg"ng-model="vm.sendEmailObj.message" id="msg" required></textarea>
                    <p ng-show="addFormlogin.msg.$invalid && !addFormlogin.msg.$pristine" class="help-block">message is required.</p>
                </div>
            </div>
            <button type="submit"  class="btn btn-success ng-binding article-save-btn" ng-click="vm.eventSendEmailConlogin()" ng-show="vm.showSending" ng-disabled="addFormlogin.$invalid">Send</button>
            <button type="submit"  class="btn btn-success ng-binding article-save-btn" ng-hide="vm.showSending">Sending..</button>
            <button type="submit"  class="btn btn-success ng-binding article-save-btn" ng-click="vm.closeModal(4);" >Cancel</button>
        </form>
        <hr>
    </modal>




    <div id="addtfav_ad" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">This Ad added to your favourite  Successfully</h4>
                </div>


            </div>
        </div>
    </div>


    <!--------header category start------------->
    <!-- ====================================================================================================
         See All Category popup CSS
         ======================================================================================================= -->

    <div id="boxes">
        <div style="display: none;" id="dialog" class="window">
            <div class="container">
                <div class="row">
                    <div class="col-md-11"></div>
                    <div class="col-md-1 pull-right" ><span style="color:#000;"class="close">X</span></div>
                </div>
                <div id="pp" class="col-md-4 col-sm-12 col-xs-12" ng-repeat="group in vm.category track by $index">
                    <div class=" row all-ser-fulltitle">
                        <div class="col-md-12 col-sm-4 col-xs-4 marleft" style="text-align: left;"><a style="color: #0e54f2;" ng-click="vm.getCat(group.category_id)">{{group.category_name}}</a></div>
                    </div>
                    <div class=" col-md-4 col-sm-4 col-xs-4 all-ser-res1">
                        <ul ng-if="group.subcategories != ''" ng-repeat="group1 in group.subcategories| limitTo: vm.cnt[$index]">
                            <li class="crsr-ptr" value="{{group1.name}}" ng-click="vm.getSubCat(group1.id, group.category_id)">{{group1.name}}</li> 
                        </ul>
                        <div class="marleft1">
                            <p ng-if="group.subcategories == ''">No Subcategories found!</p> 
                        </div>
                    </div> 
                    <div ng-click="vm.showMoreItems($index)" ng-if="group.subcategories.length > 4 && vm.cnt[$index] < group.subcategories.length" class="align-a-right"><a>View More</a></div>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <!-- ====================================================================================================
    End of See All Category popup CSS
    ======================================================================================================= -->

    <div style="width: 1478px; font-size: 32pt; color:white; height: 2527px; display: none; opacity: 0.8;" id="mask"></div>

    <!-------------------------end header category----------------------->




</div>



