<style>
    .main_back {
        background-image: none;
    }
    .top_bg {
        background: #efefef;
    }
    .top_right {
        margin-top: 0px; 
    }
    .top_left {
        margin-top: 6px;
    }
    .header_top-sec {
        padding: 0px;
    }
    .main_back .top_bg {
        width: 100%;
        position: fixed;
        z-index: 2;
    }
    .top_right ul li a:hover, .top_left ul li a:hover {
        color: #f6a95b;
        text-decoration: none;
    }
    .top_right ul li {
        text-align: center; 
        display: block;
        color: #ffffff;
        border-right: 1px solid #ECE9E0;
        float: left;
        font-weight: bold;
        height: 34px;
        padding: 10px;
        margin: 0;
    }
    .top_right ul li a {
        font-size: 12px;  
    }
    .top_right ul  > li:first-child {
        border-left: 1px solid #FBFBFB;
    }

    .main_design{
        /*border: 1px solid black; */
        width: 100%;
        text-align:center;
        background-color: rgba(2, 41, 102, 0);
        margin: 0em auto;
    }
    .main_design  button {
        border: 2px solid #efefef;
        font-family: inherit;
        font-size: 20px;
        line-height: 10p;
        padding: 13px 0px;
        color: white;
        background-color: #232e3f;
        /* margin: 10px; */
        width: 30%;
    }
    /*    .main_design  button a:hover {
            color: #e49b4f;
        }*/
    .main_design  button:hover {
        color: #0e54f2;
    }
    .main_design  button a {
        color: white;
        text-decoration: none;
    }
    .banner{
        padding:0px;
    }
    .banner-img{
        width:100%;
    }
    .margin_60 {
        margin: 60px 0;
    }
    .find_someone_head {
        color: #232e3f;
        font-size: 35px;
        text-align: center;
        font-family: 'Raleway',sans-serif !important;
        font-weight: 500;
    }
    .sign_up, .interact, .connect {
        background: url(https://img2.shaadi.com/assests/2016/images/home-icon-sprite.png) no-repeat left 1px;
        height: 148px;
        width: 133px;
        margin: 0 auto;
        display: block;
        position: relative;
        background-size: 100%;
    }
    .interact {
        background: url(https://img2.shaadi.com/assests/2016/images/home-icon-sprite.png) no-repeat left -292px;
        background-size: 100%;
    }
    .connect {
        background: url(https://img2.shaadi.com/assests/2016/images/home-icon-sprite.png) no-repeat left -591px;
        background-size: 100%;
    }
    .sign_up span, .interact span, .connect span {
        position: absolute;
        top: 0;
        left: 0;
        height: 148px;
        width: 133px;
        background: url(https://img2.shaadi.com/assests/2016/images/home-icon-sprite.png) no-repeat left -147px;
        opacity: 0;
        background-size: 100%;
    }
    .interact span {
        background: url(https://img2.shaadi.com/assests/2016/images/home-icon-sprite.png) no-repeat left -440px;
        background-size: 100%;
    }
    .connect span {
        background: url(https://img2.shaadi.com/assests/2016/images/home-icon-sprite.png) no-repeat left -739px;
        background-size: 100%;
    }
    .sign_up span:hover, .interact span:hover, .connect span:hover {
        opacity: 1;
    }
    .footer-content {
        clear: both;
        width: 100%;
        /* position: absolute; */
        /* bottom: 0px; */
        margin-top: 0px;
        background: #232e3f;
        padding: 0em 0;
    }
    .p-classified{
        margin-top:-30px;
    }
    .classified{
        margin-top:15px;
    }
    .main_design button :hover {
        /*        border: 2px solid #77131c;
                font-family: inherit;
                font-size: 20px;
                line-height: 10p;
                padding: 13px 0px;*/
        color: #0e54f2;
        /*        background-color: #f5a85d;
                 margin: 10px; 
                width: 30%;*/
    }
    /*    .top_bg {
            height: 36px;
        }*/
    @media only screen and (max-width: 480px){
        .top_left {
            float: none;
            color: #fff;
            text-align: center;
            margin-left: 0em;
        }
        .main_foot_col button {
            font-size: 16px;
            padding: 0.4em 3em;
        }
        .main_design button {
            width: 60%;
        }
    }
    .navbar {
        min-height: 36px;
    }
    .navbar-brand {
        height: 36px;
    }
    .nav > li > a {
        position: relative;
        display: block;
        padding: 10px 5px;
    }
    .navbar-toggle {
    margin-top: 0px;
    margin-bottom: 0px;
    }
    .find_som
    {
    background: -webkit-linear-gradient(rgb(153,146,134), rgb(203,195,185), rgb(153,146,134)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(153,146,134), rgb(203,195,185), rgb(153,146,134)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(153,146,134), rgb(203,195,185), rgb(153,146,134)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(153,146,134), rgb(203,195,185), rgb(153,146,134)); /* Standard syntax */
    }
    .classified_back
    {
        background:#efefef;
    }
</style>

<body class="main_back">
    <div data-ng-controller="mainCtrl as vm">
    <!-- ------------------ header ---------------------->
    <div class="top_bg">
        <div class="container">
            <nav class="navbar navbar-default navbar-fixed-top top_bg" id="nav_top">
                <div class="container">
                    <div class="navbar-header page-scroll">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand page-scroll lato-description">
                            <a href="index.html"> <img src="app/content/img/logoEpardesh.png" style='width:150px;'alt="" /></a>
                        </a>
                    </div>
                    <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
                        <ul class="nav navbar-nav navbar-left menu-bar">
                            <li class="top_link"><a ui-sref="home">Classifieds</a></li>
                            <li class="top_link"><a ui-sref="mhome">Matrimony</a></li>
                            <li><a ui-sref="about">About us</a></li>
                            <li><a ui-sref="contact">Contact us</a></li>
<!--                            <li class="top_link"><a ui-sref="sign">Sign Up</a></li>
                            <li class="top_link"><a ui-sref="login">Log In</a></li>-->
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>
<!--    <div class="top_bg" style="margin-top:100px">
        <div class="container">

                        <nav class="navbar navbar-default navbar-fixed-top" id="nav_top">
            
                             Brand and toggle get grouped for better mobile display 
                            <div class="navbar-header page-scroll">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand page-scroll lato-description">
                                    <a href="index.html"> <img src="app/content/img/logo.jpg" alt="" style="width: 258px;height: 36px;"/></a>
                                </a>
                            </div>
                            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1" style="height: 1px;">
                                <ul class="nav navbar-nav navbar-right">
                                    <li class="hidden">
                                        <a href="#page-top"></a>
                                    </li>
                                    <li>
                                        <a class="page-scroll active" id="home" title="Home - 75way" href="index.php">Home</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle js-activated about1" id="about1" data-toggle="dropdown">About</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="-1" href="about.php" title="About - 75way" class="about1" id="story1">Our Story</a></li>
                                            <li class="divider"></li>
                                            <li><a tabindex="-1" href="team.php" title="Team - 75way" class="about1" id="way-team">Team</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="page-scroll" id="services1" title="Services - 75way" href="services.php">Services</a>
                                    </li>
                                    <li>
                                        <a class="page-scroll" id="portfolio1" title="Portfolio - 75way" href="portfolio.php">Portfolio</a>
                                    </li>
                                                            <li>
                                                                <a class="page-scroll" id="product" title="Product - 75way" href="product.php">Product</a>
                                                            </li>
            
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle js-activated" id="career" data-toggle="dropdown">Careers</a>
                                        <ul class="dropdown-menu">
                                            <li><a tabindex="-1" href="life.php" title="Life - 75way" id="career1">Life @ 75way</a></li>
                                            <li class="divider"></li>
                                            <li><a tabindex="-1" title="Currentjobopenings - 75way" href="jobs.php" id="career2">Current Job Openings</a></li>                            
                                        </ul>
                                    </li>
                                    
                                    <li>
                                        <a class="page-scroll" id="contact1" title="Contact - 75way" href="contact.php">Contact</a>
                                    </li>
                                </ul>
                            </div>
            
                        </nav>
            <div class="header_top-sec">
                <div class="col-md-3 col-sm-4 col-xs-12 logo">
                    <a href="index.html"> <img src="app/content/img/logo.jpg" alt="" style="width: 258px;height: 36px;"/></a>
                </div>
                <div class="col-md-7 col-sm-8 col-xs-12 top_right">
                    <ul> <li class="top_link"><a ui-sref="home">classifieds</a></li>
                        <li class="top_link"><a href="#">Matrimony</a></li>
                        <li><a ui-sref="about">About us</a></li>
                        <li><a ui-sref="contact">Contact us</a></li>
                        <li class="top_link"><a ui-sref="sign">Sign Up</a></li>
                        <li class="top_link"><a ui-sref="login">Log In</a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>-->
    <!-----------------conatiner content---------------------->
    <div class="col-md-12 banner">
        <img class="banner-img" src="app/content/img/banner.png">
    </div>
    <div class="col-md-12 find_som">
        <div class="container">
            <div class="find_someone_head margin_60">Find your Special Someone</div>
        </div>
        <div class="container">
            <div class="col-sm-4 text-center">
                <a href="#" class="sign_up"><span></span></a>
                <div class="special_someone_wrap">
                    <h3>
                        <a href="#">Sign up</a>
                    </h3>
                    <div>Register for free &amp; put up your Profile</div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#" class="interact"><span></span></a>
                <div class="special_someone_wrap">
                    <h3>
                        <a href="#">Connect</a>
                    </h3>
                    <div>Select &amp; Connect with Matches you like</div>
                </div>
            </div>
            <div class="col-sm-4 text-center">
                <a href="#" class="connect"><span></span></a>
                <div class="special_someone_wrap">
                    <h3>
                        <a href="#">Interact</a>
                    </h3>
                    <div>Become a Premium Member &amp; Start a Conversation</div>
                </div>
            </div>

        </div>
         <div class="col-md-12  main_design">
        <!--<button><a href="index.html">Link To Classified</a></button><br>-->
        <button ui-sref="mhome">MATRIMONY</button>
    </div>
    </div>
   

    <div class="col-md-12 classified_back">
        <div class="container">
            <div class="find_someone_head margin_60 classified">Connect with the right professionals to get your job done.</div>
        </div>
        <div class="container">
            <p class="p-classified">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
        </div>
        <div class="col-md-12 main_design">
        <button><a ui-sref="home">CLASSIFIED</a></button>
    </div>
    </div>
    

    <!--        <div class="container">
                <div class="col-md-12 main_div_align">
                    <div class="col-md-6 main_design">
                        <button><a href="index.html">CLASSIFIED</a></button><br>
                        <button>Link To Matrimonial</button>
                    </div>
                    <div class="col-md-6 main_design" style="float:right;">
                        <button><a href="index.html">Link To Classified</a></button><br>
                        <button>MATRIMONY</button>
                    </div>
                </div>
            </div>-->
    <!-----------------footer content---------------------->
    <div class="row find_som">
        <p class="Popular_txt">Popular Cities</p>
        <div class="row main_foot_col">
            <div class="container">                            
                <div class="col-md-12" style="text-align:center;">                                      
                    <button>Find Ads in Popular Cities</button>
                </div>               
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="col-md-12 city_img_mar">
                        <img src="app/content/img/los-angeles.jpg" style="width:100%">
                    </div>
                    <div class="col-md-6  col-sm-6 col-xs-12">
                        <ul>
                            <li><a href="#">Atlanta</a></li>
                            <li><a href="#">Austin</a></li>
                            <li><a href="#">Boston</a></li>
                            <li><a href="#">Baltimore</a></li>
                            <li><a href="#">Charlotte</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6  col-sm-6 col-xs-12">
                        <ul>
                            <li><a href="#">Chicago</a></li>
                            <li><a href="#">Columbus</a></li>
                            <li><a href="#">Denvar</a></li>
                            <li><a href="#">Dellas</a></li>
                            <li><a href="#">cleveland</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="col-md-12 city_img_mar">
                        <img src="app/content/img/houston.png" style="width:100%">
                    </div>
                    <div class="col-md-6  col-sm-6 col-xs-12">
                        <ul>
                            <li><a href="#">Atlanta</a></li>
                            <li><a href="#">Austin</a></li>
                            <li><a href="#">Boston</a></li>
                            <li><a href="#">Baltimore</a></li>
                            <li><a href="#">Charlotte</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6  col-sm-6 col-xs-12">
                        <ul>
                            <li><a href="#">Chicago</a></li>
                            <li><a href="#">Columbus</a></li>
                            <li><a href="#">Denvar</a></li>
                            <li><a href="#">Dellas</a></li>
                            <li><a href="#">cleveland</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="col-md-12 city_img_mar">
                        <img src="app/content/img/Chicago.jpg" style="width:100%">
                    </div>
                    <div class="col-md-6  col-sm-6 col-xs-12">
                        <ul>
                            <li><a href="#">Atlanta</a></li>
                            <li><a href="#">Austin</a></li>
                            <li><a href="#">Boston</a></li>
                            <li><a href="#">Baltimore</a></li>
                            <li><a href="#">Charlotte</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6  col-sm-6 col-xs-12">
                        <ul>
                            <li><a href="#">Chicago</a></li>
                            <li><a href="#">Columbus</a></li>
                            <li><a href="#">Denvar</a></li>
                            <li><a href="#">Dellas</a></li>
                            <li><a href="#">cleveland</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="col-md-12 city_img_mar">
                        <img src="app/content/img/orlando.jpg" style="width:100%">
                    </div>
                    <div class="col-md-6  col-sm-6 col-xs-12">
                        <ul>
                            <li><a href="#">Atlanta</a></li>
                            <li><a href="#">Austin</a></li>
                            <li><a href="#">Boston</a></li>
                            <li><a href="#">Baltimore</a></li>
                            <li><a href="#">Charlotte</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6  col-sm-6 col-xs-12">
                        <ul>
                            <li><a href="#">Chicago</a></li>
                            <li><a href="#">Columbus</a></li>
                            <li><a href="#">Denvar</a></li>
                            <li><a href="#">Dellas</a></li>
                            <li><a href="#">cleveland</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="footer-content">
        <div class="container">
            <div class="container">
                <div class="col-md-6 col-sm-6 col-xs-12 store">
                    <ul>
                        <li><a ui-sref="term-condition">Terms & Conditions</a></li>
                        <li><a href="#">|</a></li>
                        <li><a ui-sref="privacy-policy">Private Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 social">
                    <ul>
                        <li><a href="#"><i class="facebook"></i></a></li>
                        <li><a href="#"><i class="twitter"></i></a></li>
                        <li><a href="#"><i class="dribble"></i></a></li>
                        <li><a href="#"><i class="google"></i></a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="copywrite">
                <p>Copyright © 2016</p>
            </div>
        </div>
    </div>
    </div>