  
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<!--<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->

<style>		
    .navbar-brand
    {
        margin: 0;
        padding: 0;
    }

    .navbar-brand img
    {
        max-height: 100%;
    }

    .dropdown-menu {
        min-width: 200px;
    }
    .dropdown-menu.columns-2 {
        min-width: 400px;
    }
    .dropdown-menu.columns-3 {
        min-width: 600px;
    }
    .dropdown-menu li a {
        padding: 5px 15px;
        font-weight: 300;
    }
    .multi-column-dropdown {
        list-style: none;
    }
    .multi-column-dropdown li a {
        display: block;
        clear: both;
        line-height: 1.428571429;
        color: #333;
        white-space: normal;
    }
    .multi-column-dropdown li a:hover {
        text-decoration: none;
        color: #262626;
        background-color: #f5f5f5;
    }
    .body-text {
        width: 100%;
        top: 30%;
        position: absolute;
        padding: 30px 0px;
    }
    .body-text h2 {
        margin-bottom: 20px;
    }

    @media (max-width: 767px) {
        .dropdown-menu.multi-column {
            min-width: 240px !important;
            overflow-x: hidden;
        }
        ul.nav.navbar-nav {
            padding: 13px;
        }
    }

    @media (max-width: 480px) {
        .content {
            width: 90%;
            margin: 50px auto;
            padding: 10px;
        }
        ul.nav.navbar-nav {
            padding: 13px;
        }

    }

    .sign_up, .interact, .connect {
        background: url(app/content/images/home-icon-sprite.png) no-repeat left 1px;
        height: 148px;
        width: 133px;
        margin: 0 auto;
        display: block;
        position: relative;
        background-size: 100%;
    }
    .footer-content {
        clear: both;
        width: 100%;
        position: absolute; 
        bottom: 0px; 
        margin-top: 0px;
        background: #232e3f;
        padding: 0em 0;
    }
    #page-intro {
        position: absolute;
        width: 100%;
    }
    #page-intro h1 {
        text-shadow: 1px 4px 7px #000;
    }
</style>

<!--</head>-->
<div data-ng-controller="mainCtrl as vm">
    

    <nav class="navbar navbar-default navbar-static-top" style="background-color: #ffffff;" role="navigation"> 
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" rel="home" href="#" title="Buy Sell Rent Everyting">
                    <img style="max-width:140px;" src="app/content/img/logo_epardesh.png">
                </a>
            </div>
            <nav class="collapse navbar-collapse" id='bs-navbar'> 

                <ul class="nav navbar-nav">
                    <li><a href="#"><i class="fa fa-home"></i>&nbsp;Home</a></li> 
                    <!--<li><a href="#"><i class="fa fa-search"></i>&nbsp;Classifieds</a></li> 
                    <li><a href="#"><i class="fa fa-heart"></i>&nbsp;Matrimony</a></li> -->
                    <li><button type="button" ui-sref="home" class="btn btn-warning navbar-btn">Classifieds</button></li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;</li> 
                    <li><button type="button" ui-sref="mhome" class="btn btn-success navbar-btn">Matrimony</button></li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;</li> 
                    <li><button type="button" ui-sref="events" class="btn btn-info navbar-btn">Events</button></li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp;</li> 
                    <li><button type="button" ui-sref="training" class="btn btn-primary navbar-btn">IT Training</button></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ui-sref="about"><i class="fa fa-info-circle"></i>&nbsp;About US</a></li>
                    <li><a ui-sref="contact"><i class="fa fa-envelope"></i>&nbsp;Contact US</a></li> 					
                </ul> 

                <!--/.navbar-collapse-->
            </nav> 
           



        </div> 
    </nav>

    <div>

        <div id="page-intro" class="gap" style="background-image:url(app/content/img/home_page_classifieds.jpg) !important; ">
            <!--<h1>Find someone special</h1>
            <a href="http://www.epardesh.com/matrimony" class="btn">Matrimony</a>-->
        </div>

        <div class="body-text content">
            <h2>404 Not Found</h2>
            <h4>Sorry this page doesn't exist</h4>
        </div>
    </div>

    <div class="footer-content">
        <div class="container">
            <div class="container">
                <div class="col-md-6 col-sm-6 col-xs-12 store">
                    <ul>
                        <li><a ui-sref="term-condition">Terms & Conditions</a></li>
                        <li><a href="#">|</a></li>
                        <li><a ui-sref="privacy-policy">Private Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 social">
                    <ul>
                        <li><a href="http://www.facebook.com/epardesh" target="_blank"><i class="facebook"></i></a></li>
                        <li><a href="https://twitter.com/epardesh" target="_blank"><i class="twitter"></i></a></li>
                        <li><a href="#"><i class="dribble"></i></a></li>
                        <li><a href="https://plus.google.com/114195703900238259697" target="_blank"><i class="google"></i></a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="copywrite">
                <p>Copyright © 2017</p>
            </div>
        </div>
    </div>
    <!--
        <footer>
    
            <div class="footer-left">
    
                <h3>Companylogo</h3>
    
                <p class="footer-links">
                    <a href="#">Home</a>
                    ·
                    <a href="#">Blog</a>
                    ·
                    <a href="#">Pricing</a>
                    ·
                    <a href="#">About</a>
                    ·
                    <a href="#">Faq</a>
                    ·
                    <a href="#">Contact</a>
                </p>
    
                <p class="footer-company-name">Company Name &copy; 2015</p>
    
            </div>
    
            <div class="footer-right"  data-bottom-top="max-width: 200px;" data-bottom-bottom="max-width: 600px;">
    
                <form method="get" action="#">
                    <input placeholder="Search our website"  />
                    <i class="material-icons">search</i>
                </form>
    
            </div>
    
        </footer>-->







    <!--<div class="scroll-pause" data-anchor-target=".gallery" data-100p-top-top="transform:translateY(100%);" data-top-top="transform:translateY(0%)" data--150p-top-top="" data--300p-top-top="transform:translateY(-100%)">
        <h2>Popular Cities</h2>
    
        <div class="row" data-anchor-target=".gallery" data-top-top="transform: translateX(0%);" data--150p-top-top="transform: translateX(-50%);">
            <div style="background-image:url(app/content/images/rotate/Chicago.jpg);" ></div>
    
            <div style="background-image:url(app/content/images/rotate/houston.png);" ></div>
    
            <div style="background-image:url(app/content/images/rotate/los-angeles.jpg);" ></div>
    
            <div style="background-image:url(app/content/images/rotate/orlando.jpg);" ></div>
    
            <div style="background-image:url(app/content/images/rotate/new_york.jpg);" ></div>
    
            <div style="background-image:url(app/content/images/rotate/sfo.jpg);" ></div>
    
            <div style="background-image:url(app/content/images/rotate/bay.jpg);" ></div>
    
            <div style="background-image:url(app/content/images/rotate/sea.jpg);" ></div>
        </div>
    
    
        <div class="row" data-anchor-target=".gallery" data-top-top="transform: translateX(-50%);" data--150p-top-top="transform: translateX(0);">
    
            <div style="background-image:url(app/content/images/rotate/Chicago.jpg);" ></div>
    
            <div style="background-image:url(app/content/images/rotate/houston.png);" ></div>
    
            <div style="background-image:url(app/content/images/rotate/los-angeles.jpg);" ></div>
    
            <div style="background-image:url(app/content/images/rotate/orlando.jpg);" ></div>
    
            <div style="background-image:url(app/content/images/rotate/new_york.jpg);" ></div>
    
            <div style="background-image:url(app/content/images/rotate/sfo.jpg);" ></div>
    
            <div style="background-image:url(app/content/images/rotate/palmtrees.jpg);" ></div>
    
            <div style="background-image:url(app/content/images/rotate/coast.jpg);" ></div>
    
        </div>
    
    </div>-->
    
    </div>
