<style>
    .pad
    {
        padding:17px;
        line-height: 29px;
    }
    .colr
    {
        color:#0e54f2;
    }
   .span_con
   {
     padding: 12px;
    font-weight: bold;
   }

</style>

<section id="about-section mob-pad">
    
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
  
    <nav class="navbar navbar-default mob">
        <!---- top header----->
        <div class="top_bg">
            <div class="container">
                <div class="header_top-sec mob-header">
                    <div class="col-sm-4 col-xs-4 pad-0">
                        <div class="top_right">
                            <ul>
                                 <li><a ui-sref="main"> <img src="app/content/img/logoEpardesh.png"alt=""/></a></li>
                            </ul>
                        </div>
                    </div>                  
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                </div>
                
            </div>
     
        </div>        
    </nav> 
    
</div>
    <!----- main container---->
    <div class="container mob-pad">
        <!----- main row---->
        <div class="row mob-pad section-outer row-mrg15">
            <div class="col-md-12 mob-pad">
                <!----- about content container---->
                <div class="about-text-container">
                    <h2 class="text-center"><u>EPARDESH LLC. Privacy Statement</u></h2>      
                    <div class="about-desc pad">
                        Privacy issues are a high priority for us at EPARDESH and we follow standard industry

                        practices to maintain your personal information. Please read the following to learn more about

                        our privacy policy.

                    </div>
                    <div class="col-md-12 about-desc">
                        <div class="count">1</div>
                        <div class="count-title">CLASSIFIEDS</div>
                        <div class="count-title-desc">
                            <h4>ACKNOWLEDGEMENT AND ACCEPTANCE OF TERMS</h4>
                            <ul class="pad">
                                <li><p>The terms &#39;EPARDESH&#39; and <a href="http://www.epardesh.com" class="colr">"www.epardesh.com’&#39;</a> are used in this document (or

                                        agreement) to refer to the website itself and to <a href="http://www.epardesh.com" class="colr">"www.epardesh.com’&#39;</a>, the company which

                                        owns and operates the EPARDESH website.</p></li>
                                <li><p><a href="http://www.epardesh.com" class="colr">"www.epardesh.com’&#39;</a> or EPARDESH is one of the local service need fulfillment platform.

                                        This document covers the terms and conditions under which EPARDESH&#39;s services are

                                        provided and the privacy policy of the site.</p></li>
                                <li><p>Your registration as a member of EPARDESH or the use of any of the features and

                                        services on EPARDESH either as a registered member or as an unregistered visitor

                                        constitutes acceptance of these privacy policy defined herein. These terms and conditions

                                        apply automatically to any new services or features introduced on EPARDESH.</p></li>

                                <li><p>By entering mobile number on <a href="http://www.epardesh.com" class="colr">"www.epardesh.com’&#39;</a> while registering for an account or

                                        receiving alerts, contacting an advertiser seller / buyer, user gives consent to EPARDESH

                                        and its partners / vendors and sub-partners / sub-vendors to send alerts, contact details,

                                        SMS and calls related to users action in our website to the mobile number entered by the

                                        user, irrespective of whether the same is on the DNC (Do Not Call List) list or any other

                                        such data base. In case user does not want to receive these messages on his / her mobile

                                        number, he / she shall not submit his / her mobile number with EPARDESH.com</p></li>

                                <li><p>If you do not agree with any of the terms and conditions or with the privacy policy of

                                        EPARDESH, you are NOT granted rights to use EPARDESH services and must not

                                        register as a member of EPARDESH or use any of its services.</p></li>
                                <li><p>EPARDESH reserves the right to update the terms, conditions and notices of this

                                        agreement without notice to you. It is your responsibility to periodically review the most

                                        current version of this agreement as your continued use of EPARDESH signifies your

                                        acceptance of any changed terms.</p></li>
                                <li><p>This agreement constitutes the entire agreement between you and EPARDESH and

                                        governs your use of the EPARDESH Service, superseding any prior agreements between

                                        you and EPARDESH.</p></li>
                                <li><p>EPARDESH is entitled to assign this agreement, and all rights and obligations hereunder,

                                        to a successor to all or any of its assets, whether by sale, merger or otherwise. These

                                        terms shall be binding upon and shall inure to the benefit of the parties hereto and their respective representatives, heirs, administrators, successors and permitted assigns except

                                        as otherwise provided herein.</p></li>

                            </ul>

                            <h4>PARTICIPATING MERCHANT POLICIES</h4>
                            <p class="pad">EPARDESH related services and offerings with links from this website, including vendor sites,

                                have their own privacy statements that can be viewed by clicking on the corresponding links

                                within each respective website. Online merchants and others who participate in EPARDESH

                                services are encouraged to participate in industry privacy initiatives and to take a responsible

                                attitude towards consumer privacy. However, since we do not have direct control over the

                                policies or practices of participating merchants and other third parties, we are not responsible for

                                the privacy practices or contents of those sites. We recommend and encourage that you always

                                review the privacy policies of merchants and other third parties before you provide any personal

                                information or complete any transaction with such parties.</p>

                            <h4>INFORMATION WE COLLECT AND HOW WE USE IT</h4>
                            <p class="pad">EPARDESH User: EPARDESH collects certain information from and about its users three

                                ways: directly from our Web Server logs, the user, and with Cookies.<p>


                            <h5>Web Server Logs</h5>
                            <p class="pad">When you visit our Website, we may track information to administer the site and analyze its

                                usage. Examples of information we may track include</p>
                            <ul class="pad">
                                <li>
                                    <p>Your Internet protocol address.</p>
                                </li>
                                <li>
                                    <p>The kind of browser or computer you use.</p>
                                </li>
                                <li>
                                    <p>Number of links you click within the site.</p>
                                </li>
                                <li>
                                    <p>State or country from which you accessed the site.</p>
                                </li>
                                <li>
                                    <p>Date and time of your visit.</p>
                                </li>
                                <li>
                                    <p>Name of your Internet service provider.</p>
                                </li>
                                <li>
                                    <p>Web page you linked to our site from.</p>
                                </li>
                                <li>
                                    <p>Pages you viewed on the site.</p>
                                </li>



                            </ul>
                            <h5>Use of Cookies</h5>
                            <P class="pad">EPARDESH may use cookies to personalize or enhance your user experience. A cookie is a

                                small text file that is placed on your hard disk by a Web page server. Cookies cannot be used to

                                run program or deliver viruses to your computer. Cookies are uniquely assigned to you, and can

                                only be read by a Web Server in the domain that issued the cookie to you. One of the primary

                                purposes of cookies is to provide a convenience feature to save you time. For example, if you

                                personalize a web page, or navigate within a site, a cookie helps the site to recall your specific

                                information on subsequent visits. Hence, this simplifies the process of delivering relevant content

                                and eases site navigation by providing and saving your preferences and login information as well

                                as providing personalized functionality. EPARDESH reserves the right to share aggregated site

                                statistics with partner companies, but does not allow other companies to place cookies on our

                                website unless there is a temporary, overriding customer value (such as merging into

                                <a href="http://www.epardesh.com" class="colr">www.epardesh.com</a>a site that relies on third-party cookies). You have the ability to accept or

                                decline cookies. Most Web browsers automatically accept cookies, but you can usually modify your browser setting to decline cookies. If you reject cookies by changing your browser settings

                                then be aware that this may disable some of the functionality on our Website.</P>

                            <h4>PERSONAL INFORMATION USERS</h4>
                            <p class="pad">Visitors to our website can register to purchase services. When you register, we will request

                                some personal information such as name, address, email, telephone number or facsimile number,

                                account number and other relevant information. If you are purchasing a service, we will request

                                financial information. Any financial information we collect is used only to bill you for the

                                services you purchased. If you purchase by credit card, this information may be forwarded to

                                your credit card provider. For other types of registrations, we will ask for the relevant

                                information. You may also be asked to disclose personal information to us so that we can

                                provide assistance and information to you. Data may be warranted in order to provide online

                                technical support and troubleshooting. <b>EPARDESH</b> will not be liable for the personal

                                information provided by one user and disseminated to other users in any form of communication

                                where user has provided explicit approval.</p>
                            <p>We will not disclose personally identifiable information we collect from you to third parties

                                without your permission except to the extent necessary including:</p>
                            <ul class="pad">

                                <li>
                                    <p>To fulfill your service requests for services.</p>
                                </li>
                                <li>
                                    <p>To protect ourselves from liability,</p>
                                </li>
                                <li>
                                    <p>To respond to legal process or comply with law</p>
                                </li>
                                <li>
                                    <p>In connection with a merger, acquisition, or liquidation of the company.</p>
                                </li>
                            </ul>

                            <h4>USE OF WEB BEACONS OR GIF FILES</h4>
                            <p class="pad">EPARDESH.com web pages may contain electronic images known as Web beacons - sometimes

                                also called single-pixel gifs - that allow EPARDESH to count users who have visited those pages

                                and to deliver co-branded services. EPARDESH may include Web beacons in promotional e-

                                mail messages or newsletters in order to determine whether messages have been opened and

                                acted upon. Some of these Web beacons may be placed by third party service providers to help

                                determine the effectiveness of our advertising campaigns or email communications. These Web

                                beacons may be used by these service providers to place a persistent cookie on your computer.

                                This allows the service provider to recognize your computer each time you visit certain pages or

                                emails and compile anonymous information in relation to those page views, which in turn

                                enables us and our service providers to learn which advertisements and emails bring you to our

                                website and how you use the site. EPARDESH prohibits Web beacons from being used to collect

                                or access your personal information.</p>
                            <h4>ACCESSING WEB ACCOUNT INFORMATION</h4>
                            <p class="pad">We will provide you with the means to ensure that personally identifiable information in your

                                web account file is correct and current. You may review this information by contacting us by

                                sending an email to <u class="colr">privacy@epardesh.com</u> to get a copy of this privacy policy or by calling us

                            at <b>916-864- 3374</b>.</p>




                        </div>
                    </div>
                    <div class="col-md-12 about-desc">
                        <div class="count">2</div>
                        <div class="count-title">MATRIMONY</div>
                        <div class="count-title-desc">
                            <span class='span_con'>What information does EPARDESH.com collect/track about me?</span>
                            <p class='pad'>EPARDESH is an advertising platform providing targeted advertising services for the purpose of

                                matchmaking. In order to do provide the service, we ask for certain personal information which

                                is displayed on the site. (This information includes physical / mental disability.) (Of course, all

                                EPARDESH visitors may browse the site, search member profiles and view any articles or

                                features our site has to offer without entering any personal information.</p>
                            <span class='span_con'>Information Collected/Tracked by EPARDESH</span>
                            <p class='pad'>EPARDESH gathers two types of information:</p>
                            <p class='pad'>i. Information users submit.</p>
                            <p class='pad'>ii. Information not directly submitted</p>


                            <span style='font-weight:bold;'>Information users submit</span>
                            <h4>MEMBERS</h4>
                            <p class="pad">There are two types of user-submitted information we collect: Public and Private. We define

                                Public information as personal information that may be displayed on the site at the behest of the

                                member, such as gender, age, height, telephone number, photograph, etc. Private information is

                                defined as any information that allows others to contact a user other than through EPARDESH or

                                allows the collection of information about the user other than what is displayed on the site.</p>
                            <ul class="pad">
                                <li>
                                    <p><b>Public</b>: To order to make the services of advertising to the relevant targeted members, we

                                        gather personal information, which may or may not include: customer-specified

                                        EPARDESH username, gender, age, religion, income range, profession, telephone

                                        number, preference/lifestyle information, general geographic location, photograph and

                                        horoscope.</p>
                                </li>
                                <li><p><b>Private</b>: This information is gathered from members and guests who apply for the

                                        various services our site offers. This information includes, but is not limited to: email

                                        address, first name, last name, credit card number or checking account information for

                                        payment, a user-specified password, mailing address, zip code and telephone number.</p></li>



                            </ul>
                            <p class='pad'><b>EPARDESH</b> also allows members to submit public and private information on behalf of others -

                                child/ward, sibling or friend. If such child/ward, sibling or friend does not wish this information

                                to be displayed, she/he has the option to request removal of such information after providing the

                                necessary evidence that the information pertains to her/him.</p>

                            <span class='span_con'>Demographic Data</span>
                            <p class='pad'>Demographic data is also collected at our site. Demographic data is used to go with our visitors’

                                experience at our site, showing them content that we think they might be interested in, and their

                                preferred content. We may disclose some data with advertisers on a non-personally identifiable

                                basis.</p>

                            <span class='span_con'>Mobile Device</span>
                            <p class='pad'>If accessing of our website of any applications is downloaded by your mobile, we may collect

                                your mobile device information, operating system and version information, and IP address.</p>

                            <span class='span_con'>How to unsubscribe the membership?</span>
                            <p class='pad'>The members are requested to login to the relevant pages for unsubscription</p>
                            <p class='pad'><b>FRAMING:</b> We utilize framing techniques to make it appear that the user is still on the web site

                                when they are actually on a third party web site.</p>
                            <p class='pad'><b>SURVEYS &amp; CONTESTS</b>: From time-to- time our site requests information from users via

                                surveys or contests. Participation in these surveys or contests is completely voluntary and the

                                user therefore has a choice whether or not to disclose this information. Information requested

                                may include contact information (such as name and shipping address), and demographic

                                information (such as zip code, and age).</p>

                            <p class='pad'><b>EPARDESH AFFILIATE PARTNERS:</b> The Affiliate Partner program is a vehicle for other

                                websites to link to EPARDESH. No personal member information is exchanged with the

                                Affiliate Partner.</p>
                            <span class='span_con'><b>Additional Features of the Site:</b></span>
                            <p class='pad'>


                                TESTIMONIALS: Satisfied users of EPARDESH have chosen to post testimonials on our web

                                site. All permissions have been obtained to post these testimonials.

                            </p>

                            <p class='pad'><b>MESSENGER:</b> If you use our online instant messaging function on this Web site, you should be

                                aware that any personally identifiable information you submit there can be read, collected, or

                                used by other users of this platform, and could be used to send you unsolicited messages. We are

                                not responsible for the personally identifiable information you choose to submit in this platform.</p>

                            <span class='span_con'>Information not directly submitted</span>
                            <p class='pad'><b>AGGREGATE:</b> This is information we collect that is not personally identifiable, such as

                                browser type and IP address. This information is gathered for all users to the site.</p>

                            <span class='span_con'>With whom does EPARDESH share the information it collects/tracks?</span>
                            <p class='pad'>Except where you are expressly informed on the site or as described in this privacy policy we do

                                not sell, rent, share, trade or give away any of your personal information. However, we reserve

                                the right to disclose your personally identifiable information as required by law and when we

                                believe that disclosure is necessary to protect our rights and/or comply with a judicial

                                proceeding, court order, or legal process served on our Web site.</p>
                            <p class='pad'><b>EPARDESH</b> may tie-up with partners to bring you various services. However, EPARDESH will

                                never share your personal information, without your express permission. Still, we encourage you

                                to review the privacy policy of the partner for questions about their use, any personally

                                identifiable information that you may separately submit to such partner.</p>

                            <span class='span_con'>Tell me about links with other sites.</span>
                            <p class='pad'>EPARDESH may contain links to other websites. Please be aware that EPARDESH is not

                                responsible for the privacy practices of other Web sites. We encourage you to be aware of this

                                when you leave our site, and to read the privacy statements of each and every web site that

                                collects personally identifiable information. This privacy statement applies solely to information

                                collected by EPARDESH.</p>
                            <span class='span_con'>Tell me about Cookies.</span>
                            <ul class='pad'>
                                <li><p>help a website recognize repeat users;</p></li>
                                <li><p>facilitate the user&#39;s ongoing access to and use of the site;</p></li>
                                <li><p>allow a site to track usage behavior;</p></li>
                                <li><p>compile aggregate data for content improvements; and</p></li>
                                <li><p>Undertake targeted advertising.</p></li>



                            </ul>

                            <p class='pad'>
                                If you do not want information collected through the use of cookies, most browsers contain a

                                function that allows a user to deny the cookie feature. You can also delete cookie files from your

                                computer at your discretion. Please note that the use of cookies is a necessary part of the

                                EPARDESH technology and is necessary if you wish to access EPARDESH. Disabling the

                                cookie feature on your browser or deleting cookie files from your computer will render you

                                unable to access certain features on EPARDESH and participate in its services. Cookies may

                                also be necessary to provide the user with certain features such as customized delivery of

                                information. Consequently cookies we serve are tied to the user&#39;s personally identifiable

                                information.


                            </p>
                            <p class='pad'>EPARDESH uses cookies to provide its services, to deliver content specific to your interests, to

                                save your password so you don&#39;t have to re-enter it each time you visit different pages on our

                                site, and for other purposes.</p>

                            <p class='pad'>Please note that cookies are used only to recollect information sent to your computer from

                                EPARDESH. We CANNOT access any information not sent by EPARDESH.</p>

                            <p class='pad'>Some of our business partners may use cookies on our site (for example, advertisers). However,

                                we have no access to or control over these cookies.</p>
                            <span class='span_con'>Tell me about EPARDESH policy on correcting, updating or removing personal

                                information.</span>

                            <p class='pad'>EPARDESH allows you to modify or remove both public and private information from our

                                database. Private information such as financial information submitted during the process of a

                                financial transaction &amp; certain account-related information collected at the time of registration

                                however cannot be changed or removed by the user.</p>

                            <span class='span_con'>Tell me about security of my personal information.</span>
                            <p class='pad'>EPARDESH takes every precaution to protect your information, both online and offline.</p>
                            <p class='pad'>When our registration/order process asks you to enter sensitive information (such as a credit card
 
                                number), such information is encrypted and is protected with the best encryption software in the

                                industry - SSL.</p>

                            <p class='pad'>While we use SSL encryption to protect sensitive information online, we also do everything in

                                our power to protect your information offline. We follow generally accepted industry standards

                                to protect the personal information submitted to us, both during transaction and once we receive

                                it. All your information, not just the sensitive information mentioned above, is restricted in our

                                offices. Only employees who need the information to perform a specific job (for example, a

                                billing clerk or a customer service representative) are granted access to personally identifiable

                                information.</p>
                            <p class='pad'>We have also done everything in our power to prevent misuse of photographs. Apart from not

                                allowing photographs to be downloaded or copied, we have watermarked them with the

                                EPARDESH logo. This acts as a further deterrent for illegal use elsewhere.

                                If you have any questions about the security at our website, please email us.</p>


                            <span class='span_con'>Tell me about EPARDESH&#39;s email policy.</span>
                            <p class='pad'>We use email extensively to help you find your match on EPARDESH. Our main email products

                                and services include:</p>
                            <ul class='pad'>
                                <li><p>Member responses to your profile (called Contact Alert);</p></li>
                                <li><p>Partner matches for you (called Match Mail); and</p></li>
                                <li><p>Newsletters updating you of the latest features on our site.</p></li>

                            </ul>
                            <span class='span_con'>Occasionally, we may also send you:</span>
                            <p class='pad'>Announcements of special events which EPARDESH is associated with; or Special offers from

                                partner sites or group sites, which we believe are useful for you.</p>
                            <p class='pad'>As an EPARDESH member, you are automatically subscribed to all of the above, as an integral

                                part of our matchmaking services to you. However, at any time, you may choose to manage your

                                subscriptions to one or more of the above (except Contact Alert). All our emails will carry a link

                                to help you do this. You can also independently manage your email subscription using the My

                                Alerts Manager option.</p>
                            <p class='pad'>We reiterate that we will never sell / rent out your email address to any third party, unless you

                                expressly permit us to do so. In fact, we do not allow ANYONE to see your email address, not

                                even other EPARDESH members.</p>
                            <p class='pad'>Your friend&#39;s email address: Throughout EPARDESH, you have the option to send interesting profiles / articles to your friends. Do make full use of this option, because your friends are also

                                covered by EPARDESH&#39;s spam-free privacy policy. We will use your friend&#39;s email address only

                                to send a one-time message to them per request. Then they will never ever hear from us again

                                unless they voluntarily subscribe to our services.</p>



                            <h4>CHANGES of PRIVACY POLICY</h4>
                            <p class='pad'>EPARDESH has the discretion to occasionally update this privacy statement. When we do, we

                                will also revise the &quot;updated&quot; date at the top of this Privacy page. We encourage you to

                                periodically review this privacy statement to stay informed about how we are helping to protect

                                the personal information we collect. Your continued use of the service constitutes your

                                agreement to this privacy statement and any updates.</p>

                            <h4>CONTACTING US</h4>
                            <p class='pad'>If you have questions regarding our Privacy Statement, its implementation, failure to adhere to

                                this Privacy Statement and/or our general practices, please contact us at <u class='colr'>privacy@epardesh.com.</u>

                                EPARDESH will use commercially reasonable efforts to promptly respond and resolve any

                                problem or question.</p>




                        </div>
                    </div>
                </div>
                <!----- about content container---->
            </div>
        </div>
        <!----- /main row---->
    </div>
    <!----- /main container---->
</section>
<div ng-include="'app/templates/footer.html'">
</div>