<div class="content-wrapper" data-ng-controller="viewmatrimonyuser as vm">
    <section class="content-header">
        <h1>
            Manage Users 
            <small></small>
        </h1>           
    </section>
    <div class="col-md-12 manage_plans">
        <div class="col-md-2"></div>
        <div class='col-md-2 free'>
            <div class="text-right">Free</div>
            <div class="c100 p12 small orange" style="float: none">
                <span class="free_user_count"></span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
<!--            <i class="fa fa-gift fa_style"></i>-->
        </div>
        <div class="col-md-2 free">
            <div class="text-right">Gold</div>
            <div class="c100 p12 small orange" style="float: none">
                <span class="gold_user_count"></span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
<!--            <i class="fa fa-star fa_style"></i>-->
        </div>
        <div class="col-md-2 free">
            <div class="text-right">Premium</div>
            <div class="c100 p12 small orange" style="float: none">
                <span class="premium_user_count"></span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
<!--            <i class="fa fa-star-o fa_style_star"></i>
            <i class="fa fa-star-o fa_plus"></i>
            <i class="fa fa-star-o fa_plus"></i>-->
        </div>
<!--        <div class="col-md-2 free">
            <div class="text-right">Diamond</div>
            <div class="c100 p12 small orange">
                <span>50%</span>
                <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>
            </div>
            <i class="fa fa-diamond fa_style"></i>
        </div>-->
        <div class="col-md-2"></div>
    </div>

    <!-- Main content -->
    <section class="content manage_content">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title"> Manage Users </h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin data-table">
                        <thead>
                            <tr>
                                <th><i class="fa fa-sort"></i> Name</th>
                                <th><i class="fa fa-sort"></i> Email</th>
                                <th><i class="fa fa-sort"></i> Phone No.</th>
                                <th><i class="fa fa-sort"></i> Religion</th>
                                <th><i class="fa fa-sort"></i> Action</th>
                            </tr>
                        </thead>
                          <tbody class="view_users">
                            </tbody>
<!--                            <tr>
                                <td>Baljeet Kaur</td>
                                <td>baljeet04@gmail.com</td>
                                <td>9802493394</td>
                                <td>Sikh</td>
                                <td> <a ui-sref="view-details"><button type="button" class="btn detail-btn">View Details</button></a></td>
                            </tr>
                            <tr>
                                <td>Baljeet Singh</td>
                                <td>mehak1993@gmail.com</td>
                                <td>9813796324</td>
                                <td>Hindu</td>
                                <td> <a ui-sref="view-details"><button type="button" class="btn detail-btn">View Details</button></a></td>
                            </tr>-->

                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /.box-body -->
            <div class="box-footer clearfix">

            </div><!-- /.box-footer -->
        </div><!-- /.box -->        
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<!--<script>
    active("matrimony-category");
    $('.data-table').DataTable();
</script>-->

