<div class="content-wrapper" data-ng-controller="viewmatrimonyplan as vm">
    <section class="content-header">
        <h1>
            Plans
            <small></small>
        </h1><br>
        <!--<button type="button" id="add_plans" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-plan">Add plans </button>-->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Plans</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="table-responsive">
                    <table class="table no-margin data-table">
                        <thead>
                            <tr>
                                <th><i class="fa fa-sort"></i> Plan Type</th>
                                <th><i class="fa fa-sort"></i> Plan Name</th>
                                <th><i class="fa fa-sort"></i> Plan Validity</th>
                                <th><i class="fa fa-sort"></i> Price</th>
                                <th>Action</th>                                
                            </tr>
                        </thead>
                        <tbody class="view_plan">
                        </tbody>
                    </table>
                </div><!-- /.table-responsive -->
            </div><!-- /.box-body -->
            <div class="box-footer clearfix">

            </div><!-- /.box-footer -->
        </div><!-- /.box -->        
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->
<!---------------modal------------->
<div id="modal-plan" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add PLans</h4>
            </div>
            <div class="modal-body">
                <!--        <span class="alert alert-green"></span>
         <span class="alert alert-red"></span>-->
<!--                <input type="text" id="plan_type" class="form-control" placeholder="Plan Type"><br>-->
                <input type="text" id="plan_name" class="form-control" placeholder="Plan Name"><br>
                <input type="text" id="plan_price" class="form-control" placeholder="Price">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="save-subcategory">Add</button>
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
                <!--        <div class='loader pull-right'>
                            <div class="loader-image">
                                <img src='images/loader.gif'>
                            </div>
                        </div>-->
            </div>
        </div>
    </div>
</div>
<!-- modal-->
<!-- edit modal -->
<div id="modal-editplan" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Plans</h4>
            </div>
            <div class="modal-body">
                <!--        <span class="alert alert-green"></span>
                        <span class="alert alert-red"></span>-->
<!--                <input type="text" id="plan_type" class="form-control" placeholder="Plan Type"><br>-->
                <input type="text" id="edit_plan_name" class="form-control" placeholder="Plan Name"><br>
                <input type="text" id="edit_plan_price" class="form-control" placeholder="Price">
                 <input type="hidden" id="edit_plan_id" class="form-control" placeholder="Price">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="update-category">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <!--        <div class='loader pull-right'>
                            <div class="loader-image">
                                <img src='images/loader.gif'>
                            </div>
                        </div>-->
            </div>
        </div>
    </div>
</div><!-- modal-->
<script>
            active("matrimony-plans");
            $('.data-table').DataTable();
</script>

