<style>
    .mulimg{
        width: 100px;
        height: 100px;
        float: left;
        margin-right: 15px;
    }
</style>
<div class="content-wrapper" data-ng-controller="viewmatrimonyuserdetails as vm">
    <section class="content-header">
        <!--<div class="col-md-12" style="float:right;background: #ecf0f5;">-->    
        <div class="row view_profile">
            <div class='col-md-12'>
<!--                <div class="action-btn">
                    <button type="button" class="btn detail-btn">Accept</button>
                    <button type="button" class="btn detail-btn">Reject</button>
                </div>-->
                <h4 class="intrested_profiles">View Profile</h4>
                <div class="profile_type_border">
                    <div class="profile_selected_tab">About Myself</div>
                    <div id="sub_heading" style="clear:both;">
                        Some personal details :    </div>
                    <br clear="all">
                </div>
                <div class="single_data_cont" id="profile_basic">
                        <ul class="data_cont">
                            <li class="td_content_4">
                                <ul class='about_data'>
                                    <span class="content-size user_about"></span>            
                                </ul>
                            </li>
                        </ul>
                        <!--<br clear="all">-->
                    </div>
                <div>
                    <!--<div id="sub_heading_n" style="clear:both"> Basics &amp; Lifestyle    </div>-->
                    <div class="single_data_cont" id="profile_basic">
                        <ul class="data_cont">
                            <li class="td_content_1" style="width:100%">
                                <ul>
                                    <ul style="clear:left;margin-top: 20px;">
                                        <li><label class="content-size">Profile Picture</label></li>
                                        <div class="img-container">
                                            <img src=""  id="profile-picture" alt="Close Up" title="Close Up" border="0" width="180"><br>
                                            <div class="spacer_2"></div>
                                        </div>
                                        <ul style="clear:left;list-style-type: none;">
                                            <li><label class="content-size">Relevant Picture</label></li>
                                            <div style="clear:both;" class="img-container relevant_img_div">
<!--                                                <img src="https://img.shaadi.com/imgs/registration/closeup-v2.gif" alt="Close Up" title="Close Up" border="0">
                                                <img src="https://img.shaadi.com/imgs/registration/full-view-v2.gif" alt="Close Up" title="Close Up" border="0">
                                                <img src="https://img.shaadi.com/imgs/registration/closeup-v2.gif" alt="Close Up" title="Close Up" border="0">
                                                <img src="https://img.shaadi.com/imgs/registration/closeup-v2.gif" alt="Close Up" title="Close Up" border="0">-->

                                                <div class="spacer_2"></div>
                                            </div>
                                        </ul>
                                    </ul>
                                    <ul style="clear:left;margin-top: 20px;">
                                        <li><label class="content-size">Nationality</label></li>
                                        <li style="width:190px" class="content-size user-nationality"></li>
                                    </ul>
                                    <ul style="clear:left;margin-top: 20px;">
                                        <li><label class="content-size">Current Residence</label></li>
                                        <li style="width:190px" class="content-size user-current-residence"></li>
                                    </ul>
                                    <ul style="clear:left;margin-top: 20px;">
                                        <li><label class="content-size">Citizenship</label></li>
                                        <li style="width:190px" class="content-size user-country"></li>
                                    </ul>
                                    <ul style="clear:left;margin-top: 20px;">
                                        <li><label class="content-size">Family Location</label></li>
                                        <li style="width:190px" class="content-size user-location"></li>
                                    </ul>
                                    <ul style="clear:left;margin-top: 20px;">
                                        <li><label class="content-size">Employer Name</label></li>
                                        <li style="width:190px" class="content-size employer-name"></li>
                                    </ul>
                                </ul>
                            </li>
                        </ul><br clear="all">
                        <div class="tc">
                        </div>

                        <!-- more info -->
                        <br clear="all" style="line-height:1px">
                    </div>
                    <!--Religious Background-->

                    <!-- more info -->
                    <br clear="all" style="line-height:1px">
                </div>
            </div>
        </div>
    </section>
</div>